.b-search__input {
	border: 0;
	background: @white;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 2.8rem;
	font-weight: 600;
	padding: 0 1rem;
	color: @black;
	border-bottom: 1px solid @text_ultra-light__gray;
	border-radius: 0;
	-webkit-appearance: none;

	&::-webkit-input-placeholder {
		color:@text_ultra-light__gray;
		font-weight: 500;
	}
	&::-moz-placeholder          {
		color:@text_ultra-light__gray;
		font-weight: 500;
	}
	&:-moz-placeholder           {
		color:@text_ultra-light__gray;
		font-weight: 500;
	}
	&:-ms-input-placeholder      {
		color:@text_ultra-light__gray;
		font-weight: 500;
	}


	&:focus {
		outline: none;
	}
}

@media screen and (max-width: @laptop) {
	.b-search__input {
		font-size: 1.8rem;
		padding: 0;
	}
}
@media screen and (max-width: 767px) {
	.b-search__input {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 567px) {
	.b-search__input {
		height: 3rem;
		font-size: 1.2rem;
	}
}