.b-total-earn__descr {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.b-total-earn__descr {
		width: 50%;
	}
}
@media screen and (max-width: 567px) {
	.b-total-earn__descr {
		width: 60%;
	}
}