.b-slide {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
		background: rgba(0, 0, 0, .22);
	}
}