.b-offer-all {
	position: relative;
	border: 1px solid @borderColor;
	min-height: 22.4rem;
	font-size: 0;
	margin-bottom: 6.3rem;
	box-shadow: 0 3px 5px -2px rgba(0,0,0,.1);
}
@media screen and (max-width: 567px) {
	.b-offer-all {
		margin-bottom: 5.3rem;
	}
}