.b-offer-all__tab__text {
	float: left;
	margin-right: .5rem;
	font-weight: 600;
}

@media screen and (max-width: 567px) {
	.b-offer-all__tab__text {
		float: none;

		._hide-in-mobile {
			display: none;
		}
	}
}
