.b-choose-region {
	cursor: pointer;
	padding-right: 2rem;
	transition: background @shortTransition, color @shortTransition;
}

.no-touch {
	.b-choose-region {
		&:hover {
			background: #2d2d2d;

			.b-choose-region__icon {
				&__polygon {
					fill: @white;
				}
			}
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-choose-region {
		display: none;
	}
}