.b-title {
	text-align: center;
	color: @black;
	font-size: 2.6rem;
	font-weight: 600;
	display: block;
	padding: 3.7rem 2%;
	line-height: 1.2;
}
@media screen and (max-width: 567px) {
	.b-title {
		font-size: 1.8rem;
		padding: 1.7rem 2%;
	}
}