.b-friends__item {
	display: inline-block;
	vertical-align: top;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

