.b-pay-report__filter-text {
	font-size: 1.4rem;
	color: @gray;
	margin-right: 2.2rem;
	margin-left: 2.2rem;
	position: relative;
}

@media screen and (max-width: 1180px) {
	.b-pay-report__filter-text {
		margin-right: 1.4rem;
		margin-left: 0;
	}
}

@media screen and (max-width: @laptop) {
	.b-pay-report__filter-text {
		display: block;
		margin-bottom: .5rem;
	}
}

@media screen and (max-width: 767px) {
	.b-pay-report__filter-text {
		display: inline-block;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 567px) {
	.b-pay-report__filter-text {
		display: block;
		margin-bottom: .5rem;
	}
}