.b-info-blocks__title {
	font-size: 2.6rem;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

@media screen and (max-width: 567px) {
	.b-info-blocks__title {
		font-size: 1.8rem;
		margin-top: 1.7rem;
		margin-bottom: 1.7rem;
	}
}