.b-carousel__controls {
	background: @white;
	font-size: 0;
	padding: 0 2rem;
	position: relative;

	.b-arrow {
		width: 2.4rem;
		height: 2.4rem;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 0, 0);
		transition: opacity @shortTransition, visibility @shortTransition, transform @longTransition, top @longTransition;


		&.is-visible {
			top: -1rem;
			opacity: 1;
			visibility: visible;
		}
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background: @white;
			transform: rotate(-45deg);
			display: block;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-carousel__controls {
		padding: 0 1rem;
	}
}