.b-pay-report {
	background: @white;
	padding-bottom: 5rem;

	.b-bills {
		.b-btn-wrapper {
			margin-top: 0;
			margin-bottom: 6rem;
		}
	}

	.b-bills_type_account {
		.b-btn-wrapper {
			margin-top: 0;
			margin-bottom: 6rem;
		}
	}

	.b-btn-wrapper {
		margin-top: 4.5rem;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 567px) {
	.b-pay-report {
		.b-bills {
			.b-btn-wrapper {
				margin-bottom: 4rem;
			}
		}
		.b-bills_type_account {
			.b-btn-wrapper {
				margin-bottom: 4rem;
			}
		}
	}
}