.b-user-advice__comments {
	float: left;
	text-decoration: none;
	color: @gray;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;

	.b-icon {
		.icon-comments {
			&__polygon {
				fill: #B4B4B4;
				transition: fill @shortTransition;
			}
		}
	}

	._text {
		margin-left: 1.3rem;
	}
}

.no-touch {
	.b-user-advice__comments {
		&:hover {
			color: @green;

			.b-icon {
				.icon-comments {
					&__polygon {
						fill: @green;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-user-advice__comments {
		._text {
			margin-left: .6rem;
		}
	}
}