.b-bill-details__wrapper {
	border-top: 1px solid @borderColor;

	.b-bill-details_type_mobile {
		margin-top: 0;

		.b-bills__title {
			margin-bottom: 3rem;
		}
		.b-bill-details__border-text {
			width: 7rem;
		}
	}
}