.b-category-list__preview {
	position: absolute;
	top: 50%;
	width: 16%;
	height: 66%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
	transform: translate(12%, -50%);
}
