.b-category-list__wrapper_tiles {
	display: inline-block;
	vertical-align: top;
	width: 76%;
	font-size: 0;
}

@media screen and (max-width: 1279px) {
	.b-category-list__wrapper_tiles {
		width: 100%;
	}
}