.b-subscription__label {
	position: absolute;
	right: 4%;
	top: 6%;
	width: 4.8rem;
	height: 4.8rem;
	background: url('../images/action.svg') no-repeat 0 0 transparent;
	background-size: cover;
	display: block;
	color: @white;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 4.8rem;
	text-align: center;
}