.b-search_in-nav {
	.b-search__wrapper {
		padding: 17rem 3%;
	}
}

@media screen and (max-width: @laptop) {
	.b-search_in-nav {
		.b-search__wrapper {
			padding: 12rem 3%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-search_in-nav {
		.b-search__wrapper {
			padding: 2rem 6%;
		}
	}
}