.b-user-advice__appreciation-item {
	color: @gray;
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-right: 3rem;
	transition: color @shortTransition;

	.b-icon {
		position: relative;
		top: -.5rem;

		.icon-cool {
			&__path {
				fill: #B4B4B4;
				transition: fill @shortTransition;
			}
		}
		.icon-like {
			&__path {
				fill: #B4B4B4;
				transition: fill @shortTransition;
			}
		}
	}

	._text {
		display: inline-block;
		vertical-align: top;
	}

	._counter {
		margin-left: .5rem;
		display: inline-block;
		vertical-align: top;
	}
}

.no-touch {
	.b-user-advice__appreciation-item {
		&:hover {
			color: @green;

			.b-icon {

				.icon-cool {
					&__path {
						fill: @green;
					}
				}
				.icon-like {
					&__path {
						fill: @green;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-user-advice__appreciation-item {
		margin-right: 1rem;
		._text {
			display: none;
		}
	}
}