.i-menu-is-opened {
	overflow: hidden;

	//Content moved
	.i-page-wrapper {
		transform: translate3d(320px, 0, 0);
	}

	//Header moved
	.b-header {
		transform: translate3d(320px,0, 0);
	}

	//Nav is moved
	.b-aside {
		transform: translate3d(0, 0, 0);
	}

	//Sticky nav
	.b-sticky-nav {
		transform: translate3d(320px,0, 0);
	}

	.b-detail-page__header {
		transform: translate3d(320px,0, 0);
	}

	.b-category-filters_desktop {
		transform: translate3d(320px, 0, 0);
	}

	.b-overlay_content {
		opacity: 1;
		visibility: visible;
		transform: translate3d(320px, 0, 0);
	}

	//Animate hamburger
	.b-hamburger {
		background: @green;

		&:hover {
			background: @green;
		}
		.b-hamburger__icon {
			display: none;
		}
		.icon-close {
			display: block;
		}
	}
}



@media screen and (max-width: 567px) {
	.i-menu-is-opened {
		//Content moved
		.i-page-wrapper {
			transform: translate3d(273px, 0, 0);
		}

		//Header moved
		.b-header {
			transform: translate3d(273px, 0, 0);
		}

		.b-sticky-nav {
			transform: translate3d(273px, 0, 0);

		}

		.b-detail-page__header {
			transform: translate3d(273px, 0, 0);
		}

		.b-category-filters_desktop {
			transform: translate3d(273px, 0, 0);
		}

		.b-overlay_content {
			transform: translate3d(273px, 0, 0);
		}
	}
}
