.b-detail-page__map-wrapper {
	height: 50rem;

	.ymaps-2-1-16-controls__control {
		right: 4rem !important;
		left: auto !important;
	}
}


@media screen and (max-width: 767px) {
	.b-detail-page__map-wrapper {
		height: 28rem;
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__map-wrapper {
		.ymaps-2-1-16-controls__control {
			display: none;
		}
	}
}