.b-links-list__link {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: @text_light__gray;
	text-decoration: none;
	line-height: 1.4;
	padding-right: 2rem;
}

.no-touch {
	.b-links-list__link {
		transition: color @shortTransition;

		&:hover {
			color: @white;
		}
	}

}

@media screen and (max-width: 767px) {
	.b-links-list__link {
		display: inline-block;
	}
}
