.b-category__title {
	position: absolute;
	bottom: 14%;
	left: 0;
	padding: 0 5%;
	margin: 0;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
}

@media screen and (max-width: @laptop) {
	.b-category__title {
		padding-right: 30%;
	}
}

@media screen and (max-width: 567px) {
	.b-category__title {
		font-size: 1rem;
	}
}