.b-user-advice__header {
	position: relative;

}

@media screen and (max-width: 767px) {
	.b-user-advice__header {
		position: absolute;
		top: 2.5rem;
		left: 9rem;
		width: 100%;
	}
}

@media screen and (max-width: 567px) {
	.b-user-advice__header {
		top: 1rem;
		left: 5rem;
	}
}