.b-user-advice {
	position: relative;
	background: @white;
	font-size: 0;
	margin-bottom: 2.2rem;
	padding: 3.5rem 3% 7rem;
	min-height: 24rem;


	&:after {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}

	.i-column {
		font-size: 1rem;

		&:first-child {
			width: 19%;
			padding-right: 0;
		}
		&:last-child {
			width: 81%;
			float: none;
		}
	}


	.b-rating {
		position: absolute;
		top: 3.5rem;
		right: 3%;
		&__average {
			display: none;
		}
		&__stars {
			display: block;

		}
		&__period {
			font-size: 1.2rem;
			color: @gray;
			margin-top: .2rem;
			display: inline-block;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-user-advice {
		padding: 2rem 3% 6rem;

		.i-column {
			&:first-child {
				width: 100%;
			}
			&:last-child {
				width: 100%;
			}
		}

		.b-rating {
			top: 2rem;
			padding: 0;
			&__star {
				display: none;
				position: relative;
				left: -.4rem;

				&:first-child {
					display: inline-block;
				}
			}
			&__stars {
				float: none;
				margin-right: .3rem;
			}
			&__average {
				display: block;
				float: right;
			}
			&__period {
				margin-top: -2px;
			}
		}

		.b-subscribe-link {
			display: inline-block;
			vertical-align: top;
			position: relative;
			top: 4rem;
			left: 1rem;
		}
	}
}


@media screen and (max-width: 567px) {
	.b-user-advice {
		padding: 1rem 3% 4rem;

		.b-subscribe-link {
			top: 3.5rem;
			left: 0;
		}

		.b-rating {
			top: 1rem;
		}
	}
}