.b-header__offer-title {
	display: none;
	position: absolute;
	left: 54%;
	font-size: 1.9rem;
	font-weight: 600;
	color: #fff;
	vertical-align: top;
	height: 5rem;
	line-height: 5rem;
	text-overflow: ellipsis;
	max-width: 48%;
	white-space: nowrap;
	overflow: hidden;
	transform: translate(-50%, 0);
}


@media screen and (max-width: 567px) {
	.b-header__offer-title {
		font-size: 1.4rem;
		line-height: 4rem;
		height: 4rem;
	}
}