.b-subscription__input {
	height: 5rem;
	width: 100%;
	border: 1px solid @borderColor;
	font-size: 1.2rem;
	text-transform: uppercase;
	display: block;
	padding: 0 2rem;
	border-radius: 0;
	appearance: none;
	box-shadow: none;
}