.b-rating__totalVotes {
	position: relative;
	top: -.8rem;
	font-size: 1.2rem;
	color: @gray;
	display: block;
	width: 100%;
	text-align: right;
}


@media screen and (max-width: 767px) {
	.b-rating__totalVotes {
		float: right;
		width: auto;
		top: 0;
	}
}