.b-region-list {
	background: #fff;
	width: 28.2rem;
	border-radius: .5rem;
	max-height: 80%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	opacity: 0;
	visibility: hidden;
	padding: 2.5rem;
	z-index: 2000;
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity @longTransition, visibility @longTransition;

	&._is-active {
		opacity: 1;
		visibility: visible;
	}
}
