.b-offer-all__heart-icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;

	.b-icon-heart {
		width: 100%;
		height: 100%;
		transition: transform @shortTransition;

		&__path {
			fill: @white;
			transition: fill @shortTransition;
		}
	}

	&._is-active {
		.b-icon-heart {
			&__path {
				fill: @green;
			}
		}
	}
}

.no-touch {
	.b-offer-all__heart-icon {
		&:hover {
			.b-icon-heart {
				&__path {
					fill: @green;
				}

				transform: scale(1.15);
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-offer-all__heart-icon {
		width: 3rem;
		height: 3rem;
		background: @white;
		text-align: center;
		line-height: 3rem;
		border-radius: 100%;

		.b-icon-heart {
			position: relative;
			top: .1rem;
			vertical-align: middle;
			width: 1.8rem;
			height: 1.8rem;
			&__path {
				stroke: @black;
				fill: none;
				stroke-width: 1px;
			}
		}

		&._is-active {
			.b-icon-heart {
				&__path {
					stroke: @green;
				}
			}
		}
	}

	.no-touch {
		.b-offer-all__heart-icon {
			&:hover {
				.b-icon-heart {
					&__path {
						fill: none;
					}
					transform: scale(1);
				}
			}
		}
	}
}