.b-category-filters_lap-mob {
	position: fixed;
	height: 100%;
	top: 5rem;
	right: 0;
	background: #f2f2f2;
	padding-top: 5rem;
	z-index: 111;
	display: none;
	width: 27.2rem;
	-webkit-backface-visibility: hidden;
	transform: translate3d(125%, 0, 0);
	transition: transform @longTransition;



	&:after {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	//Модифицируем станадртные стили
	.b-filter-group {
		padding: 2rem 2rem .7rem 1.9rem;
		&__header {
			position: absolute;
			top: 0;
			left: 0;
			height: 4rem;
			text-align: center;
			padding: 1.5rem;
			border-bottom: 1px solid @borderColor;

			//Все заголовки в блоке блочные, а вот в хедере должен быть строчным
			.b-filter-group__title {
				display: inline-block;
				vertical-align: middle;
			}
		}
		&__title {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}

}

@media screen and (max-width: @laptop) {
	.b-category-filters_lap-mob {
		display: block;
	}
}

@media screen and (max-width: 567px) {
	.b-category-filters_lap-mob {
		top: 4rem;
	}
}