.b-back-title-wrapper {
	float: left;
	text-align: left;

	.b-detail-page__title {
		display: inline-block;
		vertical-align: middle;
		margin: 1.7rem 0;
		white-space: nowrap;
		overflow: hidden;
		max-width: 43rem;
		text-overflow: ellipsis;
		line-height: 1;
	}
}

@media screen and (max-width: @laptop) {
	.b-back-title-wrapper {
		display: none;
	}
}
