.b-sticky-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: @white;
	box-shadow: 0 2px 9px 2px rgba(0,0,0,.1);
	z-index: 107;
	overflow: hidden;
	visibility: visible;
	height: 5rem;
	transform: translate3d(0, 0, 0);
	transition: transform @longTransition, opacity @longTransition, visibility @longTransition;

	&._is-fixed {
		position: fixed;
	}

	.i-outer-wrapper {
		height: 100%;
	}
}

@media screen and (max-width: @laptop) {
	.b-sticky-nav {
		.i-outer-wrapper {
			width: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-sticky-nav {
		box-shadow: none;
		border-bottom: 1px solid @borderColor;
		border-top: 1px solid @borderColor;
	}
}


@media screen and (max-width: 567px) {
	.b-sticky-nav  {
		height: 4rem;

		&._is-fixed {
			position: fixed;
		}
	}
}