.b-single-slide_type_inner {
	height: 30.5rem;
	margin-bottom: 2.3rem;

	.b-slide {
		&__info-wrapper {
			width: 80%;
		}
		&__description {
			width: 50%;
			margin: 1rem auto 0;
			text-align: center;
		}
	}
	.b-apps {
		&__link {
			margin-top: 2rem;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-single-slide_type_inner {
		.b-slide {
			&__description {
				width: 80%;
			}
		}
		.b-apps {

		}
	}
}

@media screen and (max-width: 767px) {
	.b-single-slide_type_inner {
		.b-apps {
			position: relative;
			top: 0;
			width: 100%;

			&__item {
				display: block;
				margin: auto;
			}
			&__link {
				width: 100%;
			}
		}
		.b-slide {
			&__description {
				width: 100%;
			}
		}
	}
}