.b-pay-report__download {
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: @gray;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

	.b-icon {
		margin-right: .5rem;
		&__path {
			fill: #808080;
			transition: fill @shortTransition;
		}
		&__polygon {
			fill: #808080;
			transition: fill @shortTransition;
		}
		&__line {
			stroke: #808080;
			transition: stroke @shortTransition;
		}
	}
}


.no-touch {
	.b-pay-report__download {
		&:hover {
			color: @green;
			transition: color @shortTransition;

			.b-icon {
				&__path {
					fill: @green;
					transition: fill @shortTransition;
				}
				&__polygon {
					fill: @green;
					transition: fill @shortTransition;
				}
				&__line {
					stroke: @green;
					transition: stroke @shortTransition;
				}
			}
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-pay-report__download {
		transform: translate(0,32%);
	}
}

@media screen and (max-width: 767px) {
	.b-pay-report__download {
		top: 60%;
		right: 50%;
		transform: translate(100%, 0);
	}
}

@media screen and (max-width: 567px) {
	.b-pay-report__download {
		top: 70%;
		font-size: 1rem;
	}
}