.b-link-with-arrow {
	display: inline-block;
	vertical-align: middle;
	padding-right: 2.5rem;
	margin-top: .2rem;
	font-weight: 600;
	text-decoration: none;
	color: @black;
	text-transform: uppercase;
	font-size: 1.1rem;
	transition: color @shortTransition;

	.b-icon {
		.b-circle-arrow-icon {
			width: 100%;

			&__path {
				fill: @gray;
				transition: fill @shortTransition;
			}
			&__polygon {
				fill: @gray;
				transition: fill @shortTransition;
			}
		}
	}
}

.no-touch {
	.b-link-with-arrow {
		&:hover {
			color: @green;
			.b-circle-arrow-icon {
				&__path {
					fill: @green;
				}
				&__polygon {
					fill: @green;
				}
			}

		}
	}
}

@media screen and (max-width: 567px) {
	.b-link-with-arrow {
		font-size: 1rem;
	}
}