.i-detail-page {
	.i-page-wrapper {
		padding-top: 11rem;
		background: @white;
	}
}


@media screen and (max-width: @laptop) {
	.i-detail-page {
		.b-search-btn {
			display: none;
		}
		.b-sign-in {
			display: none;
		}
		.b-logo_type_full {
			display: none;
		}
		.b-logo_type_small {
			display: inline-block;
		}
		.b-header__offer-title {
			display: inline-block;
		}
	}
}