.b-category-list__items {
	list-style: none;
	padding: 0;
	margin: 0;
	background: @white;

	.b-category__title {
		position: absolute;
		padding: 0;
		top: 50%;
		left: 27%;
		bottom: auto;
		display: inline-block;
		vertical-align: middle;
		font-size: 1.2rem;
		transform: translate(0, -50%);
	}
}
