.b-offers__filters_type_common {
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: @laptop) {
	.b-offers__filters_type_common {
		position: static;
		display: inline-block;
		version: middle;
	}
}

@media screen and (max-width: 767px) {
	.b-offers__filters_type_common {
		.btn-group {
			.b-btn_type_filters {
				background: none;
				border: 0;
				border-radius: 0;
			}

		}
	}
}