.b-hamburger__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	pointer-events:all; //needs to be there so the hover works
	cursor:pointer;
}