.b-pay-achieve__preview {
	float: left;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: @laptop) {
	.b-pay-achieve__preview {
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
	}
}