.b-category-filters__close-btn {
	width: 4.8rem;
	height: 4rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	background: @green;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transform: translate3d(-4.8rem, 0, 0);

	.icon-close {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}
