.b-info-block__preview {
	display: inline-block;
	vertical-align: middle;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}