.dd-select	{ 
	position:relative;
	cursor:pointer;
}

.dd-desc {
	color:#aaa;
	display:block;
	overflow: hidden;
	font-weight:normal;
	line-height: 1.4em;
}

.dd-option-text {
	position: relative;
	top: .2rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: @title_gray;
	cursor: pointer;
	transition: color @shortTransition;
}
.dd-selected {
	overflow:hidden;
	display:block;
	font-weight:bold;
	padding: 1rem 1.5rem;
}


.dd-pointer{
	width: 1rem;
	height: 5rem;
	position:absolute;
	right:10px;
	top:50%;
	margin-top: -2.5rem;
	background: url('../images/arrow.svg') no-repeat right center transparent;
	transition: transform @shortTransition;
}

.dd-pointer-down {
}

.dd-pointer-up {
	transform: rotate(180deg);
}

.dd-options {
	width: 100%;
	box-sizing: border-box;
	list-style: none;
	display: none;
	position: absolute;
	z-index: 2000;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: auto;
	border-radius: .5rem;
	border: solid 1px @borderColor;
}

.dd-option {
	padding: 1rem 1.5rem;
	display: block;
	border-bottom: solid 1px @borderColor;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

.dd-options > li:last-child > .dd-option {
	border-bottom: none;
}

.dd-option:hover {
	.dd-option-text {
		color: @green;
	}
}

.dd-selected-description {
	font-size: 1.2rem;
	color: @text_gray;
	font-weight: 500;
}

.dd-selected-description-truncated {
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: .7rem;
}

.dd-option-selected {
	display: none;
	background: @light_gray;
	.dd-option-text {
		color: @green;
	}
}


.dd-option-image-wrapper {
	width: 4.5rem;
	height: 4.5rem;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 100%;
	background-size: cover;
	margin-right: 1.2rem;
	background-repeat: no-repeat;
	background-position: center center;
}

.dd-option-image-selected {
	.dd-option-image-wrapper();
	float: left;
}

.dd-image-right {
	float: right;
	margin-right: 15px;
	margin-left: 5px;
}

.dd-container {
	position: relative;
	top: -1.2rem;
	margin-bottom: 1.3rem;
}


​.dd-selected-text {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: @title_gray;
	cursor: pointer;
}