/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
	background: #d9d9d9;
    cursor: pointer;
	border-radius: 100%;
	position: relative;
	margin-right: .8rem;
	transition: background-color @shortTransition;

	&.checked ~ span {
		color: @green;
	}


	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: .5rem;
		height: .5rem;
		opacity: 0;
		visibility: hidden;
		background: @white;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		transition: visibility @shortTransition, opacity @shortTransition;
	}
}



.icheckbox_minimal {
	border-radius: .3rem;
	background-color: #d9d9d9;
	background-position: 2px 2px;
}
.icheckbox_minimal.hover {
	background-color: @green;
}
.icheckbox_minimal.checked {
	background: url('../images/check.svg') no-repeat 2px 2px @green;
}
.iradio_minimal.hover {
	background-color: @green;
}

.iradio_minimal.checked {
	background: @green;
	&:before {
		opacity: 1;
		visibility: visible;
	}
}

