/* 
 * Selecter v3.1.9 - 2014-09-02 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */ 

.selecter {
	text-align: left;
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;

	.selecter-selected {
		border: none;
		padding: 0 2.1rem;
		color: #4d4d4d;
		cursor: pointer;
		display: block;
		margin: 0;
		overflow: hidden;
		height: 100%;
		position: relative;
		text-overflow: clip;
		z-index: 2;
	}

	.selecter-element {
		*left: -999999px;
		height: 100%;
		left: 0;
		position: absolute;
		opacity: 0;
		width: 100%;
		z-index: -1;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		&:focus {
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
		}
	}
	.selecter-options {
		background-color: #fefefe;
		display: none;
		left: 0;
		margin: 0;
		max-height: 260px;
		overflow: auto;
		overflow-x: hidden;
		padding: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		*width: auto;
		z-index: 50;

		&.scroller {
			overflow: hidden;

			.scroller-content {
				max-height: 260px;
				padding: 0;
			}
		}
	}
	.selecter-group {
		background: #F9F9F9;
		color: #999;
		display: block;
		font-size: 11px;
		padding: 5px 10px 4px;
		text-transform: uppercase;
	}
	.selecter-item {
		font-weight: 500;
		padding: .5rem 2.1rem;
		background: #fff;
		color: #4d4d4d;
		cursor: pointer;
		display: block;
		font-size: 1.6rem;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;

		&.placeholder {
			display: none;
		}
		&.selected {
			background: #F9F9F9;
		}
		&.disabled {
			color: #999;
			cursor: default;
		}

		&:first-child {

		}
	}


	/* Open */
	&.open {
		z-index: 3;

		.selecter-selected {
			z-index: 51;
			background: @white;
		}
	}

	/* 'Cover' Positioning */
	&.cover {
		.selecter-options {
			top: 0;
		}
		.selecter-options  {
			.selecter-item {
				&.first {

				}
			}
		}

		&.open {
			.selecter-selectd {
				z-index: 49;
			}
		}
	}

	/* 'Bottom' Positioning */
	&.bottom {
		.selecter-options {
			bottom: 100%;
			top: auto;
		}
		.selecter-item {
			&:last-child {
				border: none;
			}
		}

		&.cover {
			.selecter-options {
				bottom: 0;
				top: auto;
			}
		}
	}

	&.multiple {
		.selecter-options {
			display: block;
			position: static;
			width: 100%;
		}
	}
}
@media screen and (min-width: 980px) {
	.selecter {
		.selecter-item {
			transition: color @shortTransition;
			&.disabled {
				&:hover {
					background: #fff;
				}
			}
		}
		&:hover {
			.selecter-selected {
			}
		}
		&.disabled {
			.selecter-item {
				&:hover {
					background: #fff;
				}
			}
		}
	}
}



/* Media Queries */
@media screen and (max-width: 700px) {
	.selecter {
		.selecter-selected {
			font-size: 1.3rem;
		}
	}
}