.b-sticky-nav__link {
	text-decoration: none;
	color: @green;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4rem;
	cursor: pointer;
	white-space: nowrap;

	&._is-active {
		color: @black;
	}
}

.no-touch {
	.b-sticky-nav__link {
		&:hover {
			color: @black;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-sticky-nav__link {
		font-size: 1rem;
		margin-right: 2rem;
	}
}