.b-bill-info__descr {
	font-size: 1.4rem;
	color: @gray;
	width: 35rem;
	vertical-align: top;
	padding-bottom: 2rem;
}

@media screen and (max-width: 767px) {
	.b-bill-info__descr {
		width: auto;
	}
}