.b-choose-region__icon {
	display: inline-block;
	vertical-align: middle;
	transform: rotate(90deg);
	position: relative;
	top: -.2rem;
	width: 2.6rem;
	height: 2.6rem;

	&__svg {
		display: block;
		width: 100%;
		height: 100%;
	}
	&__polygon {
		fill: @gray;
		transition: fill @shortTransition;
	}
}