.b-pay-report__filter-input {
	font-size: 1.2rem;
	color: rgb(128, 128, 128);
	text-transform: uppercase;
	font-weight: 600;
	padding: 1.1rem 2rem;
	border: 1px solid #f4f4f4;
	background: #f4f4f4;
	border-radius: .5rem;
	cursor: pointer;
	width: 100%;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;

	&::-webkit-input-placeholder {
		color: rgb(128, 128, 128);
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: rgb(128, 128, 128);
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: rgb(128, 128, 128);
	}

	&:-ms-input-placeholder {
		color: rgb(128, 128, 128);
	}
}


@media screen and (max-width: @laptop) {
	.b-pay-report__filter-input {
		font-size: 1rem;
		padding: .7rem 1rem;
	}
}

@media screen and (max-width: 767px) {
	.b-pay-report__filter-input {
		width: 13.3rem;
	}
}