.b-carousel {
	height:100%;

	.owl-controls {
		.owl-pagination {
			position: absolute;
			bottom: .7rem;
			left: 50%;
			transform: translate(-50%, 0);

			.owl-page {
				width: .6rem;
				height: .6rem;
				display: inline-block;
				vertical-align: top;
				border-radius: 100%;
				border: 1px solid @white;
				margin-right: .6rem;

				&.active {
					background: @white;
				}
			}
		}
	}
}