.i-main-page {
	.b-services-menu__item {
		//Кнопка определения гео-позции на главной вообще не показывается
		&.b-location-btn {
			display: none;
		}
	}
}

@media screen and (max-width: @laptop) {
	.i-main-page {
		.b-services-menu__item {

			//На главной странице выбор регионов отключается начиная с 1024
			&.b-selecter {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.i-main-page {
		.b-logo_type_full {
			display: inline-block;
		}
		.b-logo_type_small {
			display: none;
		}
	}
}