.b-apps {
	padding-left: 0;
	margin-top: 0;
}

@media screen and (max-width: 767px) {
	.b-apps {
		position: absolute;
		top: 4.6rem;
		width: 90%;
	}
}
@media screen and (max-width: 567px) {
	.b-apps {
		width: 83%;
	}
}