.b-cheapest {
	width: 23%;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;

	.b-rating {
		text-align: left;
		margin-bottom: 1rem;
		&_white {
			.b-rating {
				&__star {
					&._is-active {
						.b-icon-star__polygon {
							fill: @white;
						}
					}
				}
				&__average {
					color: @white;
				}
			}
			.b-icon-star {
				&__polygon {
					fill: none;
					stroke: @white;
				}
			}
		}

		&__average {
			width: auto;
			font-size: 1.2rem;
		}

		&__stars {
			float: left;
			margin-right: 1rem;
		}
		&__totalVotes {
			float: right;
			width: auto;
			top: 0;
		}
	}
}

@media screen and (max-width: 1279px) {
	.b-cheapest {
		width: 31.3%;
	}
}

@media screen and (max-width: 1023px) {
	.b-cheapest {
		width: 48%;
	}
}

@media screen and (max-width: 567px) {
	.b-cheapest {
		width: 100%;
		margin: 0 0 2rem;
		height: 284px !important;
	}
}