.b-control__title {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	color: @dark_gray;
	transition: color @shortTransition;
}

@media screen and (max-width: 1023px) {
	.b-control__title {
		font-size: 1.1rem;
	}
}