.b-total-earn {
	position: absolute;
	top: 50%;
	right: 5rem;
	transform: translate(0, -50%);
	font-size: 1.4rem;
	color: @title_gray;
}

@media screen and (max-width: @laptop) {
	.b-total-earn {
		top: 58%;
	}
}

@media screen and (max-width: 767px) {
	.b-total-earn {
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		transform: translate(0, 0);
	}
}

@media screen and (max-width: 567px) {
	.b-total-earn {
		top: 1rem;
	}
}