.b-search__input-wrapper_btn {
	width: 12%;
	text-align: right;
	position: relative;
}

@media screen and (max-width: @laptop) {
	.b-search__input-wrapper_btn {
		width: 18%;
	}
}

@media screen and (max-width: 767px) {
	.b-search__input-wrapper_btn {
		width: 26%;
	}
}

@media screen and (max-width: 567px) {
	.b-search__input-wrapper_btn {
		width: 100%;
		margin-top: 1.3rem;
		margin-bottom: 0;
	}
}
