.b-user-advice__feedback {
	position: absolute;
	bottom: 3rem;
	right: 3%;
	width: 76%;
}

@media screen and (max-width: 767px) {
	.b-user-advice__feedback {
		width: 94%;
		bottom: 2rem;
	}
}

@media screen and (max-width: 567px) {
	.b-user-advice__feedback {
		bottom: 1rem;
	}
}