.b-subscribe-link {
	display: block;
	text-decoration: none;
	color: @gray;
	font-size: 1.2rem;
	text-transform: lowercase;
	transition: color @shortTransition;
}

.no-touch {
	.b-subscribe-link {
		&:hover {
			color: @green;
		}
	}
}