.b-slide__info-wrapper {
	position: relative;
	margin: auto;
	width: 50%;
	z-index: 10;
}

.no-flexbox {
	.b-slide__info-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 1023px) {
	.b-slide__info-wrapper {
		width: 65%;
	}
}

@media screen and (max-width: 767px) {
	.b-slide__info-wrapper {
		width: 90%;
	}
}