.b-title__description {
	display: block;
	text-align: center;
	font-size: 1.8rem;
	color: @gray;
	font-weight: 500;
}

@media screen and (max-width: 567px) {
	.b-title__description {
		font-size: 1.2rem;
	}
}