{# Блок одной группы фильтров	#}
{% for key in categoryFilters %}
	<div class="b-filter-group">
		{% if key.groupName %}
			<span class="b-filter-group__title {{ key.type == "custom" ? "b-filter-group__title_custom" : ""}}">{{ key.groupName }}</span>
		{% endif %}

		{% for filter in key.filters %}
			<label class="b-filter-group__label b-filter-group__label_type_{{ filter.displayType }}">
				<input class="b-filter-form__radio js-icheck" name="{{ filter.groupName }}" type="{{ key.type }}" />
				<span class="b-filter">{{ filter.filterName }}</span>
			</label>
		{% endfor %}

		{% if key.hasCustomFilters|length %}
			<a href="#" class="b-filter-group__more b-filter-group__more_type_{{ key.hasCustomFilters.type }}">
				{% include 'sources/filters/' ~ key.hasCustomFilters.type ~ '.svg' %}
			</a>
		{% endif %}
	</div>
{% endfor %}