.b-detail-page__main-info_common {
	float: left;
	width: 50%;
	padding-left: 7%;
	font-size: 1.4rem;
	color: @gray;
	font-weight: 500;

	.b-icon {
		width: 1.5rem;
		margin-left: .3rem;

		.b-circle-arrow-icon {
			width: 100%;

			&__path {
				fill: @gray;
				transition: fill @shortTransition;
			}
			&__polygon {
				fill: @gray;
				transition: fill @shortTransition;
			}
		}
	}

	.b-rating {
		padding-top: 0;
		text-align: left;
		margin-bottom: 2rem;
		&__stars {
			float: none;
			vertical-align: middle;
		}

		&__average {
			font-size: 1.6rem;
			width: auto;
			margin-right: .2rem;
		}
		&__period {
			display: block;
			text-align: left;
			cursor: pointer;
			white-space: normal;
		}
	}
}

.no-touch {
	.b-detail-page__main-info_common {
		.b-rating {
			&__period {
				&:hover {
					color: @green;

					.b-circle-arrow-icon {
						&__path {
							fill: @green;
						}
						&__polygon {
							fill: @green;
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 900px) {
	.b-detail-page__main-info_common {
		padding-right: 7%;
		padding-left: 0;
	}
}


@media screen and (max-width: 567px) {
	.b-detail-page__main-info_common {
		margin-top: 1.5rem;
		width: 100%;
		font-size: 1.2rem;

		.b-rating {
			margin-bottom: 0;

			&__stars {
				float: left;
			}
			&__average {
				font-size: 1.3rem;
				position: relative;
				top: -.1rem;
			}
			&__period {
				clear: both;
			}
		}
	}
}