.b-chart {
	position: relative;

	.b-detail-page__title {
		width: 19rem;
		margin-top: 0;
		line-height: 1.3;
	}

	.b-rating {
		position: absolute;
		top: 1.5rem;
		right: 0;

		&__average {
			font-size: 1.6rem;
		}
		&__period {
			display: block;
			font-size: 1.2rem;
			color: @gray;
			margin-top: .5rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-chart {
		.b-rating {
			display: none;
		}
		.b-detail-page__title {
			width: 100%;
		}
	}
}

