.b-select_type_header {
	width: auto;
	position: relative;

	&.open {
		.selecter-selected {
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-top-left-radius: .5rem;
			border-top-right-radius: .5rem;

			color: @gray;
			&:after {
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}

	.selecter-selected {
		position: relative;
		border: none;
		background: transparent;
		padding: 1.1rem 5rem 1.1rem 2rem;
		font-size: 1.2rem;
		font-weight: 600;
		text-transform: uppercase;
		color: @white;
		border-radius: 0;

		&:after {
			content: '';
			position: absolute;
			right: 2rem;
			top: 50%;
			width: 1.7rem;
			height: 1.6rem;
			transition: transform @shortTransition;
			transform: translate(0, -50%);
			transform-origin: center center;
			background: url(../images/mobile-filters-arrow.svg) no-repeat center center;
		}
	}
	.selecter-options {
		border: 1px solid @borderColor;
		border-top: 0;
		padding-bottom: 1.5rem;
		border-bottom-left-radius: .5rem;
		border-bottom-right-radius: .5rem;
	}
	.selecter-item {
		font-size: 1.2rem;
		text-transform: uppercase;
		color: #b3b3b3;
		white-space: nowrap;
		padding-top: 1.2rem;
		padding-bottom: 1rem;
	}
}

.no-touch {
	.b-select_type_header {
		&:hover {
			.selecter-selected {
			}
		}

		.selecter-item {
			&:hover {
				color: @green;
			}
		}
	}
}


@media screen and (max-width: 567px) {
	.b-select_type_header {
		.selecter-selected {
			padding: 1.1rem 4.4rem 1.1rem 1.2rem;
			font-size: .9rem;
		}
	}
}
