.b-pay-achieve__item {
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 25%;
	padding-left: 2%;
	padding-right: 2%;

	&:nth-child(1) {
		width: 23%;
		padding-left: 0;
	}
	&:nth-child(2) {
		width: 32%;
	}
	&:nth-child(3) {
		width: 26%;
	}
	&:nth-child(4) {
		width: 19%;
	}
}

@media screen and (max-width: @laptop) {
	.b-pay-achieve__item {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media screen and (max-width: 767px) {
	.b-pay-achieve__item {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 3.5rem;

		.b-divider {
			display: none;
		}
		&:nth-child(1) {
			width: 50%;
		}
		&:nth-child(2) {
			width: 50%;
		}
		&:nth-child(3) {
			width: 50%;
			padding-left: 0;
		}
		&:nth-child(4) {
			width: 50%;
		}
	}
}