.b-nav-category__title {
	color: @white;
	font-size: 1.4rem;
	display: block;
	margin-bottom: .4rem;
	text-transform: uppercase;
}

@media screen and (max-width: 567px) {
	.b-nav-category__title {
		font-size: 1.2rem;
	}
}
