.b-copy_place_nav {
	border-top: 1px solid @title_gray;
	line-height: 4.5rem;
	vertical-align: middle;
	padding: 0 2.5rem;
	background: @black;
}
@media screen and (max-width: 567px) {
	.b-copy_place_nav {
		padding-left: 2rem;
	}
}