.b-bill-details__operation-number {
	font-size: 1.4rem;
	color: @gray;
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	.b-bill-details__operation-number {
		font-size: 1rem;
		margin-top: .5rem;
	}
}