.b-aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 32rem;
	height: 100%;
	background: @dark_gray;
	overflow: hidden;

	transform: translate3d(-320px, 0, 0);
	transition: transform @longTransition;
	-webkit-overflow-scrolling: touch;
}

.touch {
	.b-aside {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 567px) {
	.b-aside {
		width: 27.3rem;
	}
}