.b-bill-details_type_common-desk-laptop {
	display: table;

	tr:nth-child(2) {
		.b-bill-details__counter {
			color: @green;
		}
		.b-bill-details__info {
			color: @green;
		}
		.b-bill-details__plus {
			color: @green;
		}
		.b-bill-details__info {
			color: @green;
		}
		.b-bill-details__info {
			color: @green;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-bill-details_type_common-desk-laptop {
		display: none;
	}
}
