.b-detail-page__header {
	position: fixed;
	top: 5rem;
	left: 0;
	width: 100%;
	height: 6rem;
	background: @white;
	opacity: 1;
	visibility: visible;
	text-align: right;
	transition: transform @longTransition, opacity @longTransition, visibility @longTransition, height @longTransition;
	transform: translate3d(0, 0, 0);
	z-index: 105;

	.i-outer-wrapper {
		height: 100%;
	}
}

@media screen and (max-width: @laptop) {
	.b-detail-page__header {
		border-bottom: 1px solid @borderColor;
		z-index: 110;
	}

}

@media screen and (max-width: 567px) {
	.b-detail-page__header {
		top: 4rem;
		height: 7rem;

		&._hide-text {
			.b-interaction-link__text {
				display: none;
			}
			height: 5rem;
		}
	}
}
