.b-pay-achieve__text {
	font-size: 1.4rem;
	color: @gray;
}

@media screen and (max-width: @laptop) {
	.b-pay-achieve__text {
		clear: both;
		display: block;
		font-size: 1.2rem;
		margin-top: 1.5rem;
		line-height: 1.3;
	}
}

@media screen and (max-width: 567px) {
	.b-pay-achieve__text {
		font-size: .9rem;
		line-height: 1.4rem;
	}
}