.b-interaction-link {
	position: relative;
	top: .1rem;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: @gray;
	text-transform: uppercase;
	transition: color @shortTransition;
	white-space: nowrap;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		display: none;
	}

	.b-icon {
		margin-right: 1rem;
		.b-map-pointer-icon__path {
			stroke: @green;
		}

		.b-icon-share__path {
			fill: @green;
		}
		.b-icon-dotted-comment__path {
			fill: @green;
		}
		.b-icon-dotted-comment__circle {
			fill: @green;
		}
		.b-icon-phone__path {
			fill: @green;
		}
	}
}

.no-touch {
	.b-interaction-link {
		&:hover {
			color: @green;
		}
	}
}

@media screen and (max-width: 1180px) {
	.b-interaction-link {
		font-size: 1rem;
		.b-icon {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-interaction-link {
		font-size: 1.2rem;
		.b-icon {
			margin-right: 1rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-interaction-link {
		font-size: 1rem;

		.b-icon {
			margin-right: .5rem;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-interaction-link {
		text-transform: none;
		font-weight: 500;
		white-space: normal;
		font-size: .9rem;
		width: 24%;
		margin-left: 0;

		&__text {
			display: block;
			line-height: 1;
		}

		.b-icon {
			display: inline-block;
			text-align: center;
			width: 1.5rem;
			margin-right: 0;
			margin-bottom: 0;

			svg {
				width: 100%;
			}
		}

		&:nth-child(2) {
			margin-left: 0;
		}
		&:first-child {
			display: none;
		}
		&:last-child {
			display: inline-block;
		}
	}
}