.b-search {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 400px;
	perspective: 500px;
	transform: translate3d(0, -400px, 0) rotate(0);
	z-index: 150;
	transition: height .7s, transform @longTransition;

	&._is-active {
		transform: translate3d(0, 50px, 0);

		.b-search__wrapper {
			transform: rotateX(0);
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-search {
		height: 280px;
	}
}

@media screen and (max-width: 567px) {
	.b-search {
		height: 205px;

		&._is-active {
				transform: translate3d(0, 40px, 0);
		}
	}
}


