.b-cheapest__preview {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 59%;
	padding: 7%;
	position: relative;

	.b-rating {
		position: absolute;
		bottom: 7%;
		right: 7%;

		&__average {
			margin-right: 0;
		}
	}


	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .15);
		width: 100%;
		height: 100%;

	}
}
