.b-user-advice__avatar {
	display: inline-block;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
	.b-user-advice__avatar {
		width: 6rem;
		height: 6rem;
	}
}

@media screen and (max-width: 567px) {
	.b-user-advice__avatar {
		width: 3rem;
		height: 3rem;
		margin-bottom: .4rem;
	}
}