.b-bill__place-preview {
	display: inline-block;
	vertical-align: middle;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 100%;
	margin-right: 1rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}