.b-detail-page {
	background: @white;
	padding-bottom: 3rem;

	&__hgroup {
		margin-bottom: 3rem;
		.b-detail-page {
			&__title {
				margin-bottom: .4rem;
			}
			&__sub-title {
				margin-top: 0;
			}
		}

	}
}

@media screen and (max-width: 567px) {
	.b-detail-page {
		&__hgroup {
			margin-bottom: 1rem;
			.b-detail-page {
				&__title {
					margin-bottom: 1.4rem;
				}
			}
		}
	}
}

