.b-title-choose-region__arrow {
	.b-circle-arrow-icon {
		position: relative;
		top: .1rem;
		&__polygon {
			fill: @green;
		}
		&__path {
			fill: @green;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-title-choose-region__arrow {
		.b-circle-arrow-icon {
			top: .3rem;
		}
	}
}