.b-rating__stars {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-align: right;
}

@media screen and (max-width: 767px) {
	.b-rating__stars {
		float: left;
		margin-right: 1rem;
	}
}
