.b-bill-info {
	margin-left: 20%;
	margin-top: 4rem;
	margin-bottom: 4rem;

	.b-link-with-arrow .b-icon .b-circle-arrow-icon {
		width: auto;
		margin-left: .5rem;
	}
}

@media screen and (max-width: 767px) {
	.b-bill-info {
		margin-left: 0;
	}
}

@media screen and (max-width: 567px) {
	.b-bill-info {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
}