.b-hamburger {
	position: relative;
	width: 9rem;
	height: 5rem;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	border-right: 1px solid @title_gray;
	transition: background @longTransition;

	.icon-close {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


.no-touch {
	.b-hamburger {
		&:hover {
			background: #2d2d2d;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-hamburger {
		height: 4rem;
		width: 4.8rem;
	}
}