/* apply a natural box layout model to all elements, but allowing components to change */
html {
	font-size: 10px;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;              /* disable callout, image save panel (popup) */
	-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

.touch {
	* {
		-webkit-user-select: none;
	}
}

body {
	font-size: 1rem;
	font-family: gotham, arial, sans-serif;
	font-weight: 500;
	overflow-x: scroll;
	overflow-y: scroll;
	background: @dark_gray;
	-webkit-font-smoothing: antialiased;
}

.i-height-100 {
	height: 100%;
}
.i-table-emulate {
	display: table;
	width: 100%;
	vertical-align: middle;
}
.i-cell-emulate {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.i-clear {
	width: 100%;
	clear: both;
}

.i-block {
	display: block;
}

.i-positive {
	color: @green;
}
.i-negative {
	color: red;
}

.i-disable-hover {
	pointer-events: none;
}
.i-column {
	display: inline-block;
	vertical-align: top;
}

@media screen and (max-width: @laptop) {
	.i-hide-less-desktop {
		display: none;
	}
}

@media screen and (max-width: 567px) {
	.i-hide-less-laptop {
		display: none;
	}
}