//GOTHAMPRO

//Regular
@font-face {
	font-family: 'gotham';
	src: url('../fonts/GothamPro/regular/gothaproreg-absolut.eot');
	src: url('../fonts/GothamPro/regular/gothaproreg-absolut.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/regular/gothaproreg-absolut.woff') format('woff'),
	url('../fonts/GothamPro/regular/gothaproreg-absolut.ttf') format('truetype'),
	url('../fonts/GothamPro/regular/gothaproreg-absolut.svg#gotham_proregular') format('svg');
	font-weight: 500;
	font-style: normal;
}


//Medium
@font-face {
	font-family: 'gotham';
	src: url('../fonts/GothamPro/medium/gothapromed-absolut.eot');
	src: url('../fonts/GothamPro/medium/gothapromed-absolut.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/medium/gothapromed-absolut.woff') format('woff'),
	url('../fonts/GothamPro/medium/gothapromed-absolut.ttf') format('truetype'),
	url('../fonts/GothamPro/medium/gothapromed-absolut.svg#gotham_promedium') format('svg');
	font-weight: 600;
	font-style: normal;
}