.grid {
	&__row {
		display: block;
		width: 100%;
		font-size: 0; // fix for inline-blocks
	}
	&__col {
		display: inline-block;
		vertical-align: top;
		font-size: 1rem; // return base font-size

		&_1 {
			width: 8.33333333%
		}
		&_2 {
			width: 16.66666667%
		}
		&_3 {
			width: 25%
		}
		&_4 {
			width: 33.33333333%
		}
		&_5 {
			width: 41.66666667%
		}
		&_6 {
			width: 50%
		}
		&_7 {
			width: 58.33333333%
		}
		&_8 {
			width: 75%
		}
		&_9 {
			width: 66.66666667%
		}
		&_10 {
			width: 83.33333333%
		}
		&_11 {
			width: 91.66666667%
		}
		&_12 {
			width: 100%
		}
	}
}

@media screen and (max-width: 767px) {
	.grid {
		&__col {
			display: inline-block;
			vertical-align: top;
			font-size: 1rem; // return base font-size

			&_1 {
				width: 8.33333333%
			}
			&_2 {
				width: 16.66666667%
			}
			&_3 {
				width: 100%;
			}
			&_4 {
				width: 33.33333333%
			}
			&_5 {
				width: 41.66666667%
			}
			&_6 {
				width: 50%
			}
			&_7 {
				width: 58.33333333%
			}
			&_8 {
				width: 75%
			}
			&_9 {
				width: 66.66666667%
			}
			&_10 {
				width: 83.33333333%
			}
			&_11 {
				width: 91.66666667%
			}
			&_12 {
				width: 100%
			}
		}
	}
}