//colors
@white: #fff;
@black: #000;


@light_gray: #f4f4f4;
@gray: #808080;
@dark_gray: #1a1a1a;

@text_ultra-light__gray: #cccccc;
@text_light__gray: #666;
@text_gray: #999;
@title_gray: #333;

@green: #00a550;
@blue: #008cff;

@longTransition: .3s;
@shortTransition: .2s;

@borderColor: #e6e6e6;

//Media queries for main layouts
@laptop: 1023px;
@mobile : 767px;