.i-page-wrapper {
	position: relative;
	padding-top: 5rem;
	transition: transform @longTransition;
	z-index: 100;
}
.i-outer-wrapper {
	width: 94%;
	margin: auto;
}


.i-overflow-wrapper {
	overflow: hidden;
}

.i-list-wrapper {
	width: 96%;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

@media screen and (max-width: 767px) {

	.i-outer-wrapper {
		width: 88%;
	}
}

@media screen and (max-width: 567px) {
	.i-page-wrapper {
		padding-top: 4rem;
	}
	.i-list-wrapper {
		width: 88%;
	}
}
