<div id="cheapests" class="b-cheapests">

	{#  Заголовок блока #} 
	<span class="b-title">
		<a href="offerList.php" class="b-title__link">
			Самые выгодные

			<span class="b-circle-arrow-icon">
				{% include 'sources/arrow_circle.svg' %}
			</span>
		</a>
		<span class="b-title__text">акции из всех категорий</span>
	</span>

	<div class="i-list-wrapper">
		{% for offer in offers|slice(0, 7) %}
			{% if loop.index == 4 %}
				{% include 'pages/home/b-subscribtion/b-subscribtion.twig'  %}
			{% endif %}

			<article class="b-cheapest js-cheapest-box">
				{% include 'pages/offers-page/b-offer-cheapest/cheapestOffer.twig' %}
			</article>
		{% endfor %}
	</div>

	<div class="b-cheapests__btn">
		<a href="offerList.php" class="b-btn b-btn_type_black">Смотреть еще 156 выгодных акций</a>
	</div>
</div>