.b-user-advice__text {
	font-size: 1.4rem;
	color: @title_gray;
	margin-top: 1.2rem;
	line-height: 1.3;
}

@media screen and (max-width: 767px) {
	.b-user-advice__text {
		font-size: 1.4rem;
		margin-top: 0;
	}
}

@media screen and (max-width: 567px) {
	.b-user-advice__text {
		font-size: 1.2rem;
		margin-top: 3rem;
	}
}