.b-info-blocks__sub-title {
	font-size: 1.8rem;
	color: @text_gray;
	display: block;
	position: relative;
	top: -5.5rem;
}

@media screen and (max-width: 567px) {
	.b-info-blocks__sub-title {
		font-size: 1.4rem;
		top: -1.6rem;
	}
}