.b-pay-report__calendar-wrapper {
	display: inline-block;
	vertical-align: middle;
}


@media screen and (max-width: 767px) {
	.b-pay-report__calendar-wrapper {
		width: 100%;

		.i-column {
			width: 50%;

			&:last-of-type {
				.picker__holder {
					right: 0;
					left: auto;
				}
			}
		}
	}
}


@media screen and (max-width: 567px) {
	.b-pay-report__calendar-wrapper {
		.i-column {
			&:last-of-type {
				.b-pay-report__filter-text {
					margin-right: 0;
				}
			}
		}
	}
}