.b-bill-details {
	width: 100%;
	font-size: 1.2rem;
	margin: 4rem 0 4rem;

	td {
		vertical-align: middle;
		padding: 1.2rem 0 .4rem;
	}

	th {
		vertical-align: top;
	}
}

@media screen and (max-width: 767px) {
	.b-bill-details {
		margin: 3.5rem 0;
	}
}