.b-select_type_button {
	width: 19.3rem;
	position: relative;

	&.open {
		.selecter-selected {
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			&:after {
				transform: translate(0, -50%) rotate(180deg);
			}
		}

	}
	.selecter-selected {
		position: relative;
		border: 1px solid @light_gray;
		background: @light_gray;
		padding: 1.1rem 2rem;
		font-size: 1.2rem;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: .5rem;
		color: @gray;

		&:after {
			content: '';
			position: absolute;
			right: 1.5rem;
			top: 50%;
			width: 1.2rem;
			height: 1rem;
			transition: transform @shortTransition;
			transform: translate(0, -50%);
			background: url(../images/arrow.svg) no-repeat center center;
		}
	}
	.selecter-options {
		border: 1px solid @borderColor;
		border-top: 0;
		padding-bottom: 1.5rem;
		border-bottom-left-radius: .5rem;
		border-bottom-right-radius: .5rem;
	}
	.selecter-item {
		font-size: 1.2rem;
		text-transform: uppercase;
		color: #b3b3b3;
		white-space: nowrap;
		padding-top: 1.2rem;
		padding-bottom: 1rem;
	}
}

.no-touch {
	.b-select_type_button {
		&:hover {
			.selecter-selected {
			}
		}

		.selecter-item {
			&:hover {
				color: @green;
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	.b-select_type_button {
		width: 17.3rem;

		.selecter-selected {
			padding: .7rem 2rem;
			font-size: 1rem;
		}
		.selecter-item {
			font-size: 1rem;
			padding-top: .8rem;
			padding-bottom: .4rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-select_type_button {
		display: none;
	}
}