{% extends 'base.twig' %}

{# Offers-page #}
{% block title %}Страница с предложениями{% endblock %}
{% block pageClass %}i-offers-page{% endblock %}

{% block desktopFilters %}
	{# Блок с фильтрами для десктоп версии #}
	<div id="desktopFiltersWrapper" class="b-category-filters b-category-filters_desktop">
		{% include 'pages/offers-page/b-category-select/b-category-select.twig' with categoryList %}

		<div id="desktopFilters" class="b-filter-groups">
			<form class="b-filter-group__form" action="#">
				{% include 'pages/offers-page/b-category-filters/b-category-filters.twig' with categoryFilters %}
			</form>
		</div>
	</div>
{% endblock %}


{% block content %}
	<div id="offers" class="b-offers js-offers">
		<div class="i-outer-wrapper">

			{# Список предложений#}
			<div class="b-offers-list">
				{# Основные фильтры для списка предложений #}
				<div class="b-offers__filters">
					{# Кнопка все фильтры (для мобильной версии) #}
					<span class="b-offers__all-filters-btn js-filters-mobile-btn">
						<span class="b-icon">
							{% include 'sources/filters/range.svg' %}
						</span>
						<span class="_text">Фильтры</span>
					</span>

					<div class="b-btn-group  b-offers__filters_type_view">
						<a class="b-btn b-btn_type_filters _is-active" href="#">Списком</a>
						<a class="b-btn b-btn_type_filters" href="">На карте</a>
					</div>
					
					<div class="b-offers__filters_type_select">
						<select name="sort" id="sort" class="js-sort-select">
							<option>По интересности</option>
							<option>По популярности</option>
							<option>По цене</option>
							<option>По рейтингу</option>
						</select>
					</div>

					<div id="commonFilters" class="b-btn-group b-offers__filters_type_common">
						<a class="b-btn b-btn_type_filters  js-filters-common-btn js-offers-filters-all-btn _is-active " href="#">Все</a>
						<a class="b-btn b-btn_type_filters 	js-filters-common-btn js-cheapest-btn" href="#"><span class="i-hide-less-laptop">Самые</span> выгодные</a>
						<a class="b-btn b-btn_type_filters  js-filters-common-btn js-offers-filters-favorites-btn" href="#">
							<span class="b-icon">
								{%   include 'sources/social/heart.svg' %}
							</span>
							Мои избранные
						</a>
					</div>
				</div>

				<div id="offersList" class="b-offers__wrapper">
					{# Список предложений (Тип отображения: Все - тестовый вариант) #}
					{% for offer in offers %}

						{% if (loop.index == 4)  %}
							{# Рекламный банер #}
							<section class="b-slide b-single-slide b-single-slide_type_inner">
								{% include 'pages/offers-page/b-adv-slide/b-adv-slide.twig' %}
							</section>
						{% endif %}

						<article class="b-offer-all">
							{% include 'pages/offers-page/b-offer-all/b-offer-all.twig' %}
						</article>
					{% endfor %}
				</div>

				<div class="b-cheapests__btn">
					<a href="#" class="b-btn b-btn_type_black">Показать еще 24</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{# Блок с фильтрами для мобильной и планшетной версии#}
{% block mobLapFilters %}
	<div id="lapMobFilters" class="b-category-filters b-category-filters_lap-mob">
		{# Кнопка закрытия #}
		<div class="b-category-filters__close-btn js-category-filters-close-btn">
			<svg class="icon-close" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
				 width="11px" height="11px" viewBox="0 0 11 11" enable-background="new 0 0 11 11" xml:space="preserve">
					<polygon fill="#FFFFFF" points="10.384,2.03 8.97,0.616 5.5,4.086 2.03,0.616 0.616,2.03 4.086,5.5 0.616,8.97 2.03,10.384
					5.5,6.914 8.97,10.384 10.384,8.97 6.914,5.5 "/>
			</svg>
		</div>

		<div class="b-filter-groups">
			<form class="b-filter-group__form" action="#">
				{# Заголовк блока с кноками сбросить и применить #}
				<div class="b-filter-group__header">
					<input class="b-filter-group__reset" type="reset" value="Сбросить">
					<span class="b-filter-group__title">Фильтры</span>
					<button type="submit" class="b-filter-group__apply">Применить</button>
				</div>

				{# Обертка, чтобы можно было внутри фикседного элемента проскроллить#}
				<div class="b-filter-group__mobile-wrapper">
					{# Список групп фильтров #}
					{% include 'pages/offers-page/b-category-filters/b-category-filters.twig' with categoryFilters %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{# Мобильный селект выбора категорий (подключается в шапке (моб/лап) #}
{% block mobileSelectCategory %}
	{% include 'pages/offers-page/b-category-select/b-category-select_mobile.twig' with categoryList %}
{% endblock %}