.b-notifications-list__title {
	font-size: 1.8rem;
	color: @gray;
	font-weight: 500;
	margin-left: 1%;
	margin-bottom: 3rem;
}

@media screen and (max-width: 567px) {
	.b-notifications-list__title {
		margin-left: 0;
		margin-bottom: 2rem;
	}
}