.b-total-earn__sum {
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
}

@media screen and (max-width: 767px) {
	.b-total-earn__sum {
	}
}

@media screen and (max-width: 567px) {
	.b-total-earn__sum {
		right: 37%;
	}
}