.b-offer-all__interaction {
	display: inline-block;
	vertical-align: top;
	margin-right: 2rem;
	margin-top: 2rem;
}

@media screen and (max-width: 567px) {
	.b-offer-all__interaction {
		margin-right: 1rem;
		margin-top: 1rem;
	}
}