.b-pay-achieve {
	font-size: 0;
	margin-top: 11rem;

	.i-outer-wrapper {
		display: table;
		width: 94%;
	}
}

@media screen and (max-width: @laptop) {
	.b-pay-achieve {
		.i-outer-wrapper {
		}
	}
}

@media screen and (max-width: 767px) {
	.b-pay-achieve {
		.i-outer-wrapper {
			width: 88%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-pay-achieve {
		margin-top: 5.5rem;

		.i-outer-wrapper {
			width: 88%;
		}
	}
}