.b-category__arrow {
	position: absolute;
	right: 3%;
	top: 5%;
	width: 2.2rem;

	.b-circle-arrow-icon {
		width: 100%;
		height: 100%;

		&__path {
			fill: @white;
		}
		&__polygon {
			fill: @white;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-category__arrow {
		display: none;
	}
}