.b-back-link {
	position: relative;
	top: .1rem;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: @gray;
	text-transform: uppercase;
	margin-right: 1.4rem;
	transition: color @shortTransition;

	.b-icon {
		margin-right: .5rem;
		.b-icon-arrow-circle {
			&__circle {
				stroke: @gray;
				transition: stroke @shortTransition;
			}
			&__polyline {
				stroke: @gray;
				transition: stroke @shortTransition;
			}
		}
	}
}

.no-touch {
	.b-back-link {
		&:hover {
			color: @green;

			.b-icon {
				.b-icon-arrow-circle {
					&__circle {
						stroke: @green;
					}
					&__polyline {
						stroke: @green;
					}
				}
			}
		}
	}
}

