.b-cheapest_type_dark {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.b-cheapest__link {
		padding: 7%;
	}
	.b-cheapest__discount__percentage {
		float: right;
	}
	.b-cheapest__discount__text {
		float: left;
		width: 65%;
		line-height: 1.1;
		color: @white;
	}
	.b-cheapest__title {
		margin-top: 30%;
		font-size: 2.2rem;
	}
	.b-circle-arrow-icon {
		&__path {
			fill: @white;
		}
		&__polygon {
			fill: @white;
		}
	}

	.b-cheapest__footer {
		width: 86%;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
	}
}

@media screen and (max-width: 567px) {
	.b-cheapest_type_dark {
		.b-cheapest__title {
			margin-top: 7rem;
			font-size: 1.8rem;
		}
		.b-cheapest__link {
			padding: 7% 4%;
		}
		.b-cheapest__footer {
			width: 92%;
		}
	}
}