.b-notifications-list {
	font-size: 0;
	background: #f3f3f3;
	padding: 5.5rem 0;


	.b-btn-wrapper {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 567px) {
	.b-notifications-list {
		padding-top: 1.2rem;
	}
}


