.b-bills__title {
	color: @text_gray;
	font-size: 1.8rem;
	margin-bottom: 5rem;
	text-align: left;
}

@media screen and (max-width: 567px) {
	.b-bills__title {
		font-size: 1.4rem;
		width: 20rem;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
}