.b-bills_type_account {
	background: #f3f3f3;

	.b-btn-box {
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translate(0, -50%);
	}

	.b-btn-wrapper {
		margin-top: 0;
		margin-bottom: 6rem;
	}

}

@media screen and (max-width: @laptop) {
	.b-bills_type_account {
		.b-btn-box {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}

@media screen and (max-width: 767px) {
	.b-bills_type_account {
		.b-btn-box {
			text-align: center;
			margin-top: 2rem;
			margin-right: 0;
			margin-bottom: 0;
			position: static;

			.b-btn {
				font-size: 1rem;
				padding: .5rem 2.3rem;

				&:active {
					top: .2rem;
					&::after {
						box-shadow: none;
					}
				}
				&:after {
					box-shadow: 0 2px 0 #1155a2;
				}
			}
		}

		.b-bill__money {
			top: 5rem;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-width: 567px) {
	.b-bills_type_account {
		.b-bill__money {
			top: 4.2rem;
		}

		.b-btn-wrapper {
			margin-bottom: 3rem;
		}
	}
}