.b-nav-category {
	margin-top: 4.5rem;
	margin-bottom: 4rem;
	cursor: pointer;
	display: block;
	position: relative;

	&:first-child {
		margin-top: 0;
	}
}

@media screen and (max-width: 567px) {
	.b-nav-category {
		margin-top: 1.5rem;
	}
}