.b-offers__wrapper {

	//На странице выдачи должны в 3 колонки отображаться на десктопе
	.b-cheapest {
		width: 31.3%;
	}
}

@media screen and (max-width: 1180px) {
	.b-offers__wrapper {
		.b-cheapest {
			width: 48%;
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-offers__wrapper {
		.b-cheapest {
			width: 31.3%;
		}
	}
}

@media screen and (max-width: 900px) {
	.b-offers__wrapper {
		.b-cheapest {
			width: 48%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-offers__wrapper {
		.b-cheapest {
			width: 100%;
		}
	}
}