.b-offer-all__tab__arrow {
	position: relative;
	top: -.1rem;
	width: 2rem;
	height: 2rem;
	background: #0c9149;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	margin-left: .5rem;

	.b-arrow-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 567px) {
	.b-offer-all__tab__arrow {
		display: none;
	}
}