.b-quick-tour {
	position: relative;
	height: auto;
	display: none;
	transition: transform @longTransition;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	&.is-visible {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.b-quick-tour {
		display: none;
	}
}
