.b-often-sales__activation-btn {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	text-align: center;
	font-size: 1.4rem;
	color: @gray;
	position: relative;
	top: 2.2rem;
	padding-right: 2rem;

	.b-btn {
		margin-bottom: 2rem;
		padding: 1.8rem 0;
		width: 100%;
		max-width: 22.5rem;
	}
}

@media screen and (max-width: @laptop) {
	.b-often-sales__activation-btn {
		width: 100%;
		top: 0;
		padding-right: 0;
	}
}


@media screen and (max-width: 567px) {
	.b-often-sales__activation-btn {
		.b-btn_type_blue {
			width: 100%;
			max-width: 100%;
			font-size: 1.4rem;
			padding: 1.3rem 0;
			margin-bottom: 1.3rem;
		}
	}
}