.b-pay-report__filter {
	height: 12.6rem;
	vertical-align: middle;
	width: 94%;
	margin: auto;
	position: relative;
	font-size: 0;

	&::before {
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}


@media screen and (max-width: 767px) {
	.b-pay-report__filter {
		height: 15.6rem;
	}
}

@media screen and (max-width: 567px) {
	.b-pay-report__filter {
		width: 88%;
	}
}

