.b-apps__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 1rem;

	&:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 767px) {
	.b-apps__item {
		width: 12.1rem;
	}
}
