.b-btn_type_filters {
	background: @light_gray;
	color: @gray;
	font-weight: 600;

	&._is-active {
		color: @white;
		background: @black;
	}
}


.no-touch {
	.b-btn_type_filters {
		transition: background @shortTransition, color @shortTransition;

		&:hover {
			background: @black;
			color: @white;
		}
	}
}