.b-category-list__more-tiles {
	text-align: center;
	margin: 0 0 1.7rem;
	display: none;
}

@media screen and (max-width: 1279px) {
	.b-category-list__more-tiles {
		display: block;
		margin-bottom: 2.4rem;
	}
}
