.b-title-choose-region {
	color: @green;
	font-weight: 600;
	font-size: 2.6rem;
	text-decoration: none;
	display: none;
}
@media screen and (max-width: @laptop) {
	.b-title-choose-region {
		display: block;
	}
}

@media screen and (max-width: 567px) {
	.b-title-choose-region {
		font-size: 1.8rem;
	}
}