.b-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background: @black;
	z-index: 1000;
	transform: translate3d(0, 0, 0);
	transition: transform @longTransition;
}

@media screen and (max-width: 567px) {
	.b-header {
		height: 4rem;
	}
}