.b-category {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	width: 30.3%;
	margin-left: 1.3%;
	margin-right: 1.3%;
	margin-bottom: 4.6%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .15);
		z-index: 0;
	}
}


@media screen and (max-width: 1279px) {
	.b-category {
		width: 31.3%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 2%;
	}
}


@media screen and (max-width: @laptop) {
	.b-category {
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (max-width: 567px) {
	.b-category {
		height: 87px !important;
		margin-bottom: 6.6%;
	}
}
