.b-detail-page__carousel-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 49%;
	height: 100%;
	overflow: hidden;

	.owl-controls {
		.owl-pagination {
			display: none;
		}
	}
}

@media screen and (max-width: 900px) {
	.b-detail-page__carousel-wrapper {
		width: 100%;
		height: 36rem;
		margin-top: 2rem;
		margin-bottom: 2rem;


		.owl-controls {
			.owl-buttons {
				display: none;
			}
			.owl-pagination {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__carousel-wrapper {
		height: 14rem;
	}
}