.b-detail-page__main-info_contacts {
	float: right;
	width: 50%;
	padding-left: 7%;
	font-size: 1.4rem;
	color: @gray;

	.b-offer-all__at-map {
		margin-top: 1rem;
		display: block;
		cursor: pointer;
	}
}

@media screen and (max-width: 900px) {
	.b-detail-page__main-info_contacts {
		padding-right: 7%;
		padding-left: 0;

		.b-offer-all__at-map {
			display: none;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__main-info_contacts {
		float: none;
		width: 100%;
	}
}