.b-nav__link {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: 600;
	color: @text_gray;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.2rem 0;
	white-space: nowrap;
}
.no-touch {
	.b-nav__link {
		transition: color @shortTransition;

		&:hover {
			color: @green;

			.b-icon {
				fill: @green !important;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.b-nav__link {
		font-size: 1rem;
	}
}