.b-offers__all-filters-btn {
	color: @green;
	text-transform: uppercase;
	text-decoration: none;
	display: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: color @shortTransition;
	position: relative;
	z-index: 10;
	cursor: pointer;
}
.no-touch {
	.b-offers__all-filters-btn {
		&:hover {
			color: @black;

			.b-icon-range__path {
				stroke: @black;
			}
			.b-icon-range__line {
				stroke: @black;
			}
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-offers__all-filters-btn {
		float: right;
		display: block;
		padding-top: 0.6rem;

		.b-icon {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}


@media screen and (max-width: 567px) {
	.b-offers__all-filters-btn {
		padding-top: 0.6rem;
		width: 5.5rem;
		height: 2.5rem;
		text-align: center;
		margin-right: -2rem;
		._text {
			display: none;
		}
		.b-icon {
			margin-right: 0;
		}
	}
}