.b-bill-details__title_width_narrow {
	width: 19rem;
	display: inline-block;
	white-space: normal;
	line-height: 1.4;
}

@media screen and (max-width: @laptop) {
	.b-bill-details__title_width_narrow {
		width: 17rem;
	}
}