.b-offers__filters {
	position: relative;
	height: 4rem;
	margin-bottom: 3.8rem;
}

@media screen and (max-width: @laptop) {
	.b-offers__filters {
		margin-bottom: 2rem;
		height: 3rem;
		text-align: left;
	}
}

@media screen and (max-width: 767px) {
	.b-offers__filters {
		height: 3.3rem;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: -7%;
			height: 1px;
			background: @borderColor;
			width: 114%;
		}
	}
}