.b-services-menu__item {
	display: inline-block;
	vertical-align: middle;
	line-height: 5rem;
	height: 5rem;
	color: @text_ultra-light__gray;
	font-size: 1.3rem;
	font-weight: 600;
	border-left: 1px solid @title_gray;
	padding: 0 2.8rem;

}

.no-touch {
	.b-services-menu__item {
		&:hover {
			color: @white;

			.b-search-icon__path {
				fill: @white;
			}
			.b-sign-in-icon__polygon {
				fill: @white;
			}
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-services-menu__item {
		&.b-search-btn {
//			display: none;
		}
		&.b-selecter {
//			display: none;
		}
		&.b-sign-in {
//			display: none;
		}
		&.b-location-btn {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-services-menu__item {
		height: 4rem;
		line-height: 4rem;
		padding: 0 1.5rem;
	}
}