.b-slide__description {
	color: @white;
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 1rem;
	line-height: 1.2;
}
@media screen and (max-width: 767px) {
	.b-slide__description {
		font-size: 1.4rem;
	}
}