.b-offer-all__tabs {
	position: absolute;
	bottom: -4rem;
	left: 0;
	font-size: 0;
	text-align: right;
	width: 100%;
}

@media screen and (max-width: 567px) {
	.b-offer-all__tabs {
		bottom: -3.5rem;
	}
}