.b-bill-details_type_laptop {
	display: none;
}

@media screen and (max-width: @laptop) {
	.b-bill-details_type_laptop {
		display: table;
	}
}

@media screen and (max-width: 767px) {
	.b-bill-details_type_laptop {
		display: none;
	}
}