.i-earn-page {
	.b-single-slide_type_inner {
		margin-bottom: 0;
		height: 36rem;
	}
	.b-slide__description {
		font-size: 1.4rem;
	}

	.b-pay-report__filter {
		border-bottom: 1px solid @borderColor;
	}

	.b-bill {
		&__money {
			margin-right: 0;
			margin-left: 1.8rem;
			line-height: 1;
		}

		&__descr {
			color: @text_gray;
			font-size: 1.2rem;
		}
	}

}

@media screen and (max-width: 767px) {
	.i-earn-page {
		.b-bill {
			&__money {
				position: absolute;
				right: 0;
				bottom: 0;
				top: auto;
				margin-right: 2rem;
				transform: translate(0, 0);
			}
			&__descr {
				display: block;
				width: 20rem;
			}
		}

		.b-accordeon {
			&__header {
				padding: 2.5rem 0;
			}
		}

	}
}

@media screen and (max-width: 567px) {
	.i-earn-page {
		.b-bill {
			&__money {

			}
			&__descr {
				font-size: 1.2rem;
				width: 16rem;
			}
		}

		.b-accordeon {
			&__header {
				padding: 2.5rem 0 1.7rem;
			}
		}
	}
}
