.b-bill__money-descr-wrapper {
	position: absolute;
	right: 5rem;
	top: 50%;
	transform: translate(0, -50%);
}


@media screen and (max-width: 767px) {
	.b-bill__money-descr-wrapper {
		position: relative;
		display: block;
		margin-top: 2.5rem;
		top: 0;
		left: 0;
	}
}