.b-search__close {
	position: absolute;
	right: 2.5rem;
	top: 1.3rem;
	font-size: 4rem;
	color: @black;
	cursor: pointer;
}

@media screen and (max-width: 567px) {
	.b-search__close {
		display: none;
	}
}