.b-category-filters_desktop {
	position: fixed;
	top: 9.5rem;
	left: 3%;
	width: 28.2rem;
	z-index: 101;
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	transition: transform @longTransition, opacity @longTransition;

	.b-filter-groups {
		background: @light_gray;
		border-radius: .5rem;
	}
}



@media screen and (max-width: @laptop) {
	.b-category-filters_desktop {
		display: none;
	}
}

