.b-interaction-links {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: right;
	justify-content: space-between;
	position: absolute;
	right: 2%;
	border-bottom: 1px solid @borderColor;
	width: 48%;
}


@media screen and (max-width: @laptop) {
	.b-interaction-links {
		position: static;
		width: 100%;
		border-bottom: 0;
		justify-content: space-between;
	}
}

@media screen and (max-width: 567px) {
	.b-interaction-links {
		align-items: baseline;
		text-align: center;
		padding-top: 1.4rem;
	}
}