.b-bill__money {
	display: inline-block;
	vertical-align: middle;
	font-size: 2.1rem;
	font-weight: 600;
	color: @green;
	margin-right: 2%;
}

@media screen and (max-width: @laptop) {
	.b-bill__money {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 767px) {
	.b-bill__money {
		position: absolute;
		right: 2rem;
		top: 50%;
		transform: translate(0, -50%);
	}
}

@media screen and (max-width: 567px) {
	.b-bill__money {
		font-size: 1.6rem;
	}
}