.b-search-btn {
	cursor: pointer;
	transition: color @shortTransition, background @shortTransition;

	&._is-active {
		background: #2d2d2d;
		color: @white;
	}
}

.no-touch {
	.b-search-btn {
		&:hover {
			background: #2d2d2d;
			color: @white;
		}
	}
}
