.b-bill-details__border-text {
	font-size: 1.2rem;
	color: @text_gray;
	padding: .5rem 1.1rem;
	border: 1px solid @borderColor;
	border-radius: .5rem;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 567px) {
	.b-bill-details__border-text {
		font-size: 1.1rem;
	}
}