.b-about-offer__main-info {
	overflow: hidden;
	padding: 4.3rem 13% 8rem 38%;
}

@media screen and (max-width: @laptop) {
	.b-about-offer__main-info {
		padding: 0;

		.b-detail-page__title {
			margin-bottom: 1.6rem;
			padding-top: .8rem;
			padding-bottom: 0;
		}
	}
}

@media screen and (max-width: 767px) {

}