.b-offer-all__at-map {
	display: inline-block;
	vertical-align: middle;
	color: @green;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 2rem;

	&:before {
		content: '';
		display: block;
		width: 100%;
	}

	.b-map-pointer-icon {
		display: inline-block;
		vertical-align: middle;
		width: .9rem;
		margin-right: .7rem;
		position: relative;
		top: -.1rem;

		&__path {
			&:first-child {
				stroke: @green;
				fill: @green;
			}
			fill: @white;
			stroke: @white;
		}
	}
}

@media screen and(max-width: 767px) {
	.b-offer-all__at-map {
		display: none;
	}
}