.b-about-offer__aside {
	position: absolute;
	left: 0;
	top: 7rem;
	width: 28rem;
	font-size: 0;
}


@media screen and (max-width: @laptop) {
	.b-about-offer__aside {
		position: static;
		top: 0;
		width: auto;
		padding-bottom: 4rem;

	}
}
