.b-bill {
	font-size: 0;

	&._is-active {
		.b-accordeon__content {
			border-bottom: 1px solid @borderColor;
		}
	}

	&:nth-child(even) {
		transition: background @longTransition;
		&._is-active {
			background: #f3f3f3;
		}
	}
}
