.b-call__text {
	font-weight: 500;
	font-size: 1.4rem;
	display: block;
	color: @gray;
	margin-top: .5rem;
}

@media screen and (max-width: 767px) {
	.b-call__text {
		text-align: left;
		margin-bottom: 3.5rem;
	}
}