.b-cheapest__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background: rgba(255, 255, 255, .5);
	transition: opacity @longTransition, visibility @longTransition;
}
