.b-offer-all__tab {
	display: inline-block;
	vertical-align: middle;
	height: 4rem;
	color: @white;
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 4.2rem;
	text-align: center;
	background: @green;
	cursor: pointer;
	padding: 0 3.5%;
}

@media all and (max-width: 567px) {
	.b-offer-all__tab {
		font-size: 1rem;
		text-align: left;
		line-height: 1.2;
		height: 3.5rem;
		padding: .6rem 3% 0;
	}
}