.b-often-sales {
	font-size: 0;
	border-bottom: 1px solid @borderColor;

	.i-column {
		width: 50%;
	}
}

@media screen and (max-width: 567px) {
	.b-often-sales {
		.i-column {
			width: 100%;
		}
	}
}
