.b-close {
	position: absolute;
	top: 6%;
	right: 2.5%;
	color: #d1d1d1;
	text-decoration: none;
	font-size: 1.4rem;
	transition: color @shortTransition;

	&:hover {
		color: @white;

		.b-close-icon {
			&__path {
				fill: @white;
			}
			&__polygon {
				fill: @white;
			}
		}
	}
}