.b-btn-group {
	font-size: 0;

	.b-btn {
		position: relative;
		padding: 1rem 1.4rem;
		border-radius: 0;
		border: 0;

		&_type {
			&_filters {
				&._is-active {
					.b-icon-heart__path {
						stroke: @white;
					}
				}
			}
		}

		.b-icon {
			width: 1.6rem;
			height: 1.6rem;
			display: inline-block;
			vertical-align: top;
			margin-right: .2rem;
		}
		.b-icon-heart {
			width: 100%;
			height: 100%;

			&__path {
				fill: none;
				stroke: @green;
				transition: stroke @shortTransition;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			background: @borderColor;
		}

		&:first-child {
			border-top-left-radius: .5rem;
			border-bottom-left-radius: .5rem;

		}

		&:last-child {
			border-top-right-radius: .5rem;
			border-bottom-right-radius: .5rem;

			&:after {
				display: none;
			}
		}
	}
}

.no-touch {
	.b-btn-group {
		.b-btn {
			&_type {
				&_filters {
					&:hover {
						.b-icon-heart {
							&__path {
								stroke: @white;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	.b-btn-group {
		.b-btn {
			font-size: 1rem;
			padding: .8rem .7rem .6rem;

			.b-icon {
				width: 1rem;
				height: 1rem;
				margin-right: 0;
				position: relative;
				top: .1rem;
			}
		}
	}
}



@media screen and (max-width: 767px) {
	.b-btn-group {
		.b-btn {
			&_type {
				&_filters {
					.b-icon-heart {
						&__path {
							stroke: @green;
						}
					}
				}
			}
			&:after {
				display: none;
			}
		}
		.b-btn_type_filters {
			border-right: 0;
			background: none;
			color: @green;

			&._is-active {
				color: @black;
			}
		}
	}

	.no-touch {
		.b-btn-group {
			.b-btn {
				&_type {
					&_filters {
						&:hover {
							background: none;
							color: @black;

							.b-icon-heart {
								&__path {
									stroke: @black;
								}
							}
						}
					}
				}
			}
		}
	}
}

