.b-step__number {
	position: absolute;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: middle;
	background: #CCCCCC;
	color: @white;
	font-size: 1.4rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 100%;
}
