.b-offers__filters_type_select {
	display: inline-block;
	vertical-align: top;
	margin-left: 10%;
}

@media screen and (max-width: 1300px) {
	.b-offers__filters_type_select {
		margin-left: 2.5rem;
	}
}

@media screen and (max-width: 1180px) {
	.b-offers__filters_type_select {
//		display: none;
	}
}

@media screen and (max-width: @laptop) {
	.b-offers__filters_type_select {
		display: inline-block;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (max-width: 767px) {
	.b-offers__filters_type_select {
		display: none;
	}
}
