.b-slide__price {
	position: relative;
	padding-bottom: 1rem;
	font-size: 2.4rem;
	color: @white;
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
	margin-top: 3.5rem;


	&::after {
		content: '';
		position: absolute;
		width: 70%;
		left: 50%;
		bottom: 0;
		height: 1rem;
		background: url('../images/earn-page/curlyLine.svg') repeat-x center center transparent;
		transform: translate(-50%, 0);
	}
}

