.b-search__input-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 36%;
	height: 100%;
}

@media screen and (max-width: @laptop) {
	.b-search__input-wrapper {
		width: 33%;
	}
}

@media screen and (max-width: 767px) {
	.b-search__input-wrapper {
		width: 29%;
	}
}

@media screen and (max-width: 567px) {
	.b-search__input-wrapper {
		width: 100%;
		margin: auto;
		margin-bottom: 2rem;
	}
}