.b-apps__link {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2rem;
	width: 13.7rem;
}


@media screen and (max-width: 767px) {
	.b-apps__link {
		width: 100%;
		margin-left: 0;
	}
}