.b-detail-page__data {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding: 4rem 0;
}

@media screen and (max-width: @laptop) {
	.b-detail-page__data {
		padding-top: 3rem;
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 900px) {
	.b-detail-page__data {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.b-detail-page__data {
		padding-top: 0;
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__data {
		padding-top: 0;
	}
}