.b-control {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	font-size: 1rem;
	background: @white;
	cursor: pointer;
	position: relative;
	box-sizing: content-box;

	&.is-active {
		.b-control__title {
			color: @green;
		}
	}
}