.b-offer-all__rating {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	padding: 2rem 2.5% 0 0;
}

@media screen and (max-width: 767px) {
	.b-offer-all__rating {
		border-top: 1px solid @borderColor;
		width: 94%;
		padding: 0;
		margin: 0 3%;
	}
}