.b-control__content {
	padding: 2rem 3rem;
	box-sizing: border-box;
	height: 100%;
}
.no-touch {
	.b-control__content {

		&:hover {
			.b-control__title {
				color: @green;
			}
		}
	}
}


@media screen and (max-width: 1023px) {
	.b-control__content {
		padding: 2rem 1rem;
	}
}