.b-hamburger__line {
	transform:rotate(0) translateY(0) translateX(0);
	opacity:1;
	stroke:  #E6E6E5;
	stroke-linejoin: miter;
	transform-origin: 20px 10px;
	transition: transform .4s, opacity .2s;

	&:nth-of-type(1) {
		transform-origin: 20px 11px;

	}
	&:nth-of-type(3) {
		transform-origin: 20px 20px;
	}
}