.b-rating__average {
	width: 25%;
	display: inline-block;
	font-size: 2.4rem;
	font-weight: 600;
	color: @black;
	margin-right: .5rem;
}


@media screen and (max-width: 767px) {
	.b-rating__average {
		width: auto;
		font-size: 1.2rem;
	}
}