.b-nav-category__icon {
	position: absolute;
	top: 50%;
	right: 0;
	width: 2.2rem;
	height: 2.2rem;
	transform: translate(0, -50%);

	svg {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 567px) {
	.b-nav-category__icon {
		width: 1.7rem;
		height: 1.7rem;
	}
}