.b-subscription {
	width: 23%;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	border-top: 1px solid @borderColor;
	border-bottom: 1px solid @borderColor;
}

@media screen and (max-width: 1279px) {
	.b-subscription {
		width: 31.3%;
	}
}


@media screen and (max-width: 1023px) {
	.b-subscription {
		width: 48%;
	}
}

@media screen and (max-width: 567px) {
	.b-subscription {
		width: 100%;
		margin: 0 0 2rem;
		height: 284px !important;
	}
}