.b-sticky-nav__arrow-left {
	display: inline-block;
	vertical-align: top;
	transform: rotate(180deg);
	transform-origin: 50% 44%;
	margin-right: .5rem;
	cursor: pointer;

	.b-circle-arrow-icon {
		&__path {
			fill: @green;
			transition: fill @shortTransition;
		}
		&__polygon {
			fill: @green;
			transition: fill @shortTransition;
		}
	}
}

.no-touch {
	.b-sticky-nav__arrow-left {
		&:hover {
			.b-circle-arrow-icon {
				&__path {
					fill: @black;
				}
				&__polygon {
					fill: @black;
				}
			}
		}
	}
}

