.b-small-offer__info-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 65%;
	height: 100%;
	position: relative;
	padding: 0 2rem;

	.b-rating {
		position: absolute;
		bottom: 0;
		left: 2rem;
		width: 100%;
		text-align: left;
		border-top: 1px solid @borderColor;
		padding-top: .4rem;

		&__average {
			width: auto;
			font-size: 1.2rem;
			margin-left: .3rem;
		}

		&__star {
			display: inline-block;
			vertical-align: middle;
			margin-right: .3rem;
		}
	}
}