<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<base href="/' ?>" />
	<title>Абсолюткарта - {% block title %}{% endblock %}</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="copyright" content="(c)">
	<meta http-equiv="Reply-to" content="alexpipinov@gmail.com">

	{# Убираем возможность масштабировать #}
	<meta name="viewport" content="width=device-width,  initial-scale=1.0,user-scalable=no, maximum-scale=1.0"/>

	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	{# Запрещаем детектить телефоны	#}
	<meta name="format-detection" content="telephone=no">

	{# Remove tap highlight on Windows Phone #}
	<meta name="msapplication-tap-highlight" content="no" />

	{# Просим IE оформлять все в классическом стиле без учета текущей темы операционки #}
	<meta http-equiv="msthemecompatible" content="no"/>

	{# Указывает на то, что приложение оптимизировано под мобильные устройства и заставляет отображать без масштабирования #}
	<meta name="HandheldFriendly" content="True"/>

	{# Принудительно активируем технологию ClearType для сглаживания шрифтов #}
	<meta http-equiv="cleartype" content="on"/>

	{# Favicons #}
	{%  include 'favicons/favicons.twig'  %}

	<link rel="stylesheet" href="../build/app.min.css">
</head>

<body class="{% block pageClass %}{% endblock %}">

{# Common fixed header #}
{%  include 'blocks/b-header/b-header.twig'  %}

{# Прилипающая навигация #}
{% block stickyNav %}{% endblock %}
{% block detailHeader %}{% endblock %}

{% block desktopFilters %}{% endblock %}

<div class="i-overflow-wrapper">
	{#	Search block #}
	{%  include 'blocks/b-search/b-search.twig' %}

	<div id="page" class="i-page-wrapper js-page-wrapper">
		{% block content %}{% endblock %}

		{# Common footer #}
		{% include 'blocks/b-footer/b-footer.twig' %}
	</div>
</div>

{# Block Aside with Navigation #}
{% include 'blocks/b-aside/b-aside.twig' %}

{#TODO: Нужно блок с фильтрам динамически на js генерить#}
{# LapMob filters#}
{% block mobLapFilters %}{% endblock %}

{#	Common content overlay #}
{%  include 'blocks/b-content-overlay/b-content-overlay.twig' %}

{#	Common content overlay #}
{%  include 'blocks/b-main-overlay/b-main-overlay.twig' %}

{%  include 'blocks/b-region-list/b-region-list.twig' %}

{# Load the script "js/main.js" as our entry point #}
<script data-main="src/js/config" src="src/js/libs/requirejs/require.js"></script>
</body>
</html>