.b-category-select__wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

@media screen and (max-width: @laptop) {
	.b-category-select__wrapper {
		display: block;
	}
}

@media screen and (max-width: 567px) {
	.b-category-select__wrapper {
		position: absolute;
		left: 9rem;
		top: 50%;
		transform: translate(0,-50%);
	}
}
