.b-bill-details_type_linear {
	margin-top: 1rem;
}

@media screen and (max-width: 767px) {
	.b-bill-details_type_linear {
		.b-bill-details__operation-name {
			font-size: 1.4rem !important;
			padding-bottom: 1.2rem;
			padding-top: 3.4rem;
		}
	}
}