.b-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	background: rgba(0, 0, 0, .85);
	z-index: 110;
	transition: visibility @longTransition, opacity @longTransition, transform @longTransition;
}
