.b-bill__place-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: 600;
	color: @black;
	text-transform: uppercase;
	width: 13rem;
	line-height: 1.4;
}

@media screen and (max-width: 567px) {
	.b-bill__place-name {
		font-size: 1rem;
		width: 13rem;
	}
}