.b-location-btn {
	display: none;
	position: relative;
	cursor: pointer;
	transition: background @shortTransition;

	.b-map-pointer-icon {
		display: inline-block;
		width: 2.6rem;
		position: relative;
		top: .8rem;
		line-height: 1;

		&__path {
			fill: none;
			stroke: @gray;
		}

		&__dot {
			fill: gray;
			stroke: none;
		}
	}
}

.no-touch {
	.b-location-btn {
		&:hover {
			background: #2d2d2d;
			.b-map-pointer-icon {
				&__path {
					stroke: @white;
				}
				&__dot {
					fill: @white;
					stroke: none;
				}
			}
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-location-btn {
		display: inline-block;
	}
}

@media screen and (max-width: 567px) {
	.b-location-btn {
		.b-map-pointer-icon {
			width: 1.5rem;
		}
	}
}
