.i-offers-page {

}

@media screen and (max-width: @laptop) {
	.i-offers-page {
		.b-search-btn {
			display: none;
		}
		.b-sign-in {
			display: none;
		}
		.b-logo_type_full {
			display: none;
		}
		.b-logo_type_small {
			display: inline-block;
		}
	}
}