.b-title__link {
	display: inline-block;
	text-decoration: none;
	color: @green;

	.b-circle-arrow-icon {
		position: relative;
		top: .1rem;
		&__polygon {
			fill: @green;
		}
		&__path {
			fill: @green;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-title__link {
		.b-circle-arrow-icon {
			top: .2rem;
		}
	}
}