.b-call__phone {
	display: block;
	text-decoration: none;
	color: @white;
	font-weight: 600;
	font-size: 1.8rem;
	text-transform: uppercase;
}

@media screen and (max-width: 767px) {
	.b-call__phone {
		text-align: left;
		margin-top: 1.6rem;
	}
}