.b-cheapest__link {
	display: block;
	height: 100%;
	position: relative;
	z-index: 1;
	text-decoration: none;

	&._mobile-hover {
		.b-cheapest__overlay {
			opacity: 1;
			visibility: visible;
		}
		.b-cheapest__overlay-offer {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.no-touch {
	.b-cheapest__link {
		&:hover {
			.b-cheapest__overlay {
				opacity: 1;
				visibility: visible;
			}
			.b-cheapest__overlay-offer {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
