.b-sticky-nav__carousel {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	padding: 2rem 0;
	height: 7rem;
	-webkit-overflow-scrolling: touch;
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: @laptop) {
	.b-sticky-nav__carousel {
		padding-left: 3%;
	}
}

@media screen and (max-width: 767px) {
	.b-sticky-nav__carousel {
		padding: 1.7rem 0 1.7rem 6%;
	}
}

@media screen and (max-width: 567px) {
	.b-sticky-nav__carousel {
		padding-top: 1.4rem;
	}
}