.b-offer-all__common-info {
	margin-left: 33%;
	font-size: 1.3rem;
	font-weight: 500;
	color: #4d4d4d;
	display: inline-block;
	vertical-align: top;
	width: 47%;
	box-sizing: border-box;
	padding: 2rem 2% 2rem 4.5%;

	.i-column {
		width: 44%;

		&:first-of-type {
			width: 50%;
			padding-right: 5%;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-offer-all__common-info {
		width: 100%;
		margin-left: 0;
		padding: 1.2rem 3% 1rem;

		.i-column {
			width: 49%;
		}

	}
}

@media screen and (max-width: 567px) {
	.b-offer-all__common-info {
		font-size: 1.2rem;

		.i-column {
			width: 40%;

			&:first-of-type {
				width: 58%;
				padding-right: 5%;
			}
		}
	}
}

