.b-offers {
	background: @white;
	padding-top: 4.5rem;
	padding-bottom: 3.5%;

	&::after {
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
}

@media screen and (max-width: @laptop) {
	.b-offers {
		padding-top: 3.5%;
	}
}

@media screen and (max-width: 767px) {
	.b-offers {
		padding-top: .7rem;
	}
}