.b-footer__common {
	font-size: 1.2rem;
	color: #4d4d4d;
	border-top: 1px solid @title_gray;
	height: 6rem;
	margin-top: 6rem;
	line-height: 6rem;
}

@media screen and (max-width: 767px) {
	.b-footer__common {
		height: auto;
		margin-top: 0;
		padding-top: 1.6rem;
		padding-bottom: 3.6rem;
	}
}