.b-cheapest_type_white {
	height: 100%;

	.b-cheapest__discount__percentage {
		color: @black;
		float: right;
	}
	.b-circle-arrow-icon {
		&__polygon {
			fill: @gray;
		}
		&__path {
			fill: @gray;
		}
	}

	.b-cheapest__discount__text {
		position: absolute;
		bottom: 0;
	}

	.b-cheapest {
		&__title {
			font-size: 1.8rem;
			font-weight: 600;
			padding-right: 35%;
			position: relative;
			color: #333333;
		}
		&__discount {
			&__text {
				float: left;
				line-height: 1.1;
				color: @gray;
			}
		}
		&__footer {
			color: @black;
			left: 0;
			bottom: 0;
			padding: 2% 0;
			border-top: 1px solid @borderColor;
		}
		&__arrow-right {
			position: absolute;
			right: 0;
			top: 0;
		}
		&__subway {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-cheapest_type_white {
		border: 1px solid @borderColor;

		.b-cheapest {
			&__discount {
				&__text {
					bottom: .5rem;
				}
			}
			&__footer {
				padding: 2% 4%;
			}
			&__title {
				font-size: 1.6rem;
				padding-right: 20%;
			}

			&__balance {

			}
		}
	}
}