.b-user-advice__user-name {
	font-size: 1.4rem;
	font-weight: 600;
	color: @black;
	margin-bottom: .2rem;
	display: inline-block;
}

@media screen and (max-width: 767px) {
	.b-user-advice__user-name {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 567px) {
	.b-user-advice__user-name {
		font-size: 1.2rem;
	}
}

