.b-pay-report__sort {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2rem;

	.b-select {
		display: inline-block;
		vertical-align: middle;

		.selecter-options {
			padding-bottom: 0;
		}
	}
}


@media screen and (max-width: 1180px) {
	.b-pay-report__sort {
		.b-select {
			.selecter-selected {
				padding: 1.1rem 2rem;
				font-size: 1.2rem;
			}
			.selecter-item {
				padding-top: 1.2rem;
				padding-bottom: 1rem;
				font-size: 1.2rem;
			}
		}
	}
}


@media screen and (max-width: @laptop) {
	.b-pay-report__sort {
		.b-select {
			.selecter-selected {
				font-size: 1rem;
				padding: .7rem 1rem;
			}
			.selecter-item {
				font-size: 1rem;
				padding-top: .8rem;
				padding-bottom: .4rem;
			}
		}

		.b-select_type_button {
			width: 13.4rem;
		}
	}
}


@media screen and (max-width: 767px) {
	.b-pay-report__sort {
		margin-left: 0;
		vertical-align: top;
	}
}