/*
* Buttons
*/
.b-btn {
	display: inline-block;
	margin-bottom: 0; // For input.btn
	text-align: center;
	vertical-align: middle;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 2px solid transparent;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1.2rem 2.3rem;
	max-width: 100%;
	line-height: 1.4;

	&[disabled] {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
	}
}

@media screen and (max-width: 567px) {
	.b-btn {
		font-size: 1rem;
		padding: 1.1rem 2.3rem;
	}
}