.b-user-advice__appreciation-item_spam {
	color: #b3b3b3;
	margin-right: 0;
	vertical-align: top;
}

.no-touch {
	.b-user-advice__appreciation-item_spam {
		&:hover {
			color: darkred;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-user-advice__appreciation-item_spam {
		margin-left: 1rem;
	}
}