.b-offer-all__map-icon {
	display: none;
	width: 3rem;
	height: 3rem;
	background: @white;
	text-align: center;
	line-height: 3rem;
	margin-right: 1rem;

	.b-map-pointer-icon {
		vertical-align: middle;
		&__path {
			stroke: @black;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-offer-all__map-icon {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		background: @white;
		text-align: center;
		line-height: 3rem;
		border-radius: 100%;
	}
}