.b-detail-page__achievement {
	text-align: center;
	font-size: 1.2rem;
	color: @gray;
	padding: 0 25%;
	margin: 4rem 0;
	line-height: 1.5;
}

@media screen and (max-width: 567px) {
	.b-detail-page__achievement {
		padding: 0 10%;
		margin: 1rem 0;
	}
}