.b-btn_type_white {
	background: @white;
	color: @gray;
	transition: background @shortTransition, color @shortTransition;
}

.no-touch {
	.b-btn_type_white {
		&:hover {
			background: @black;
			color: @white;
		}
	}
}


