.b-notifications-list__period {

}

.no-touch {
	.b-notifications-list__period {
		&:last-of-type {
			.b-info-block {
				opacity: .4;
				transition: opacity @shortTransition;

				&:hover {
					opacity: 1;
				}

			}
		}
	}
}