.b-info-block__title {
	display: inline-block;
	vertical-align: middle;
	width: 11.7rem;
	margin-left: .5rem;
	text-transform: uppercase;
	color: @title_gray;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.4;
}
