.i-searchBoxIsOpened {
	.i-page-wrapper {
		transform: translate3d(0, 400px, 0);
	}

	.b-overlay_content {
		opacity: 1;
		visibility: visible;
	}

	//Sticky nav
	.b-sticky-nav {
		transform: translate3d(0, 400px, 0);
	}

	.b-detail-page__header {
		transform: translate3d(0, 400px, 0);
	}

	.b-category-filters_desktop {
		transform: translate3d(0, 400px, 0);
	}
}

@media screen and (max-width: @laptop) {
	.i-searchBoxIsOpened {
		.i-page-wrapper {
			transform: translate3d(0, 280px, 0);
		}
		.b-sticky-nav {
			transform: translate3d(0, 280px, 0);
		}
		.b-detail-page__header {
			transform: translate3d(0, 280px, 0);
		}
		.b-category-filters_desktop {
			transform: translate3d(0, 280px, 0);
		}

		.b-overlay_content {
			transform: translate3d(0, 280px, 0);
		}
	}
}

@media screen and (max-width: 567px) {
	.i-searchBoxIsOpened {
		.i-page-wrapper {
			transform: translate3d(0, 206px, 0);
		}
		.b-sticky-nav {
			transform: translate3d(0, 206px, 0);
		}
		.b-detail-page__header {
			transform: translate3d(0, 206px, 0);
		}
		.b-category-filters_desktop {
			transform: translate3d(0, 206px, 0);
		}

		.b-overlay_content {
			transform: translate3d(0, 206px, 0);
		}
	}
}


