.b-search__or {
	display: inline-block;
	vertical-align: middle;
	width: 14%;
	text-align: center;
	font-size: 2.1rem;
	color: @text_ultra-light__gray;
}

@media screen and (max-width: @laptop) {
	.b-search__or {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 767px) {
	.b-search__or {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 567px) {
	.b-search__or {
		display: none;
	}
}