.b-info-block{
	width: 23%;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	background: @white;
	height: 20.5rem;
}

@media screen and (max-width: 1279px) {
	.b-info-block{
		width: 31.3%;
	}
}

@media screen and (max-width: 1023px) {
	.b-info-block{
		width: 48%;
	}
}

@media screen and (max-width: 567px) {
	.b-info-block{
		width: 100%;
		margin: 0 0 2rem;
		height: 202px !important;
	}
}
