.b-cheapest__overlay-offer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	height: 68%;
	background: @green;
	border-radius: 100%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(.95);
	transition: transform @longTransition, opacity @longTransition;
	text-align: center;
	padding: 0 10%;
	font-size: 1.4rem;
	font-weight: 600;
	color: @white;
	text-transform: uppercase;
	line-height: 1.4;
}

@media screen and (max-width: 567px) {
	.b-cheapest__overlay-offer {
		font-size: 1.1rem;
		width: 19rem;
		height: 19rem;
	}
}