.b-cheapest__overlay-offer__more {
	margin-top: 7%;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	color: rgba(255, 255, 255, .7);

	.b-arrow-icon {
		position: relative;
		top: -.15rem;
		transform: rotate(-90deg);
	}
}
@media screen and (max-width: 567px) {
	.b-cheapest__overlay-offer__more {
		font-size: .8rem;
	}
}