.b-map-controll__zoom {
	width: 4.2rem;
	height: 4.2rem;
	display: block;
	background: @white;
	border-radius: .5rem;
	color: @black;
	font-style: normal;
	font-size: 3.4rem;
	line-height: 3.4rem;
	text-align: center;
	cursor: pointer;
}

