.b-category-list {
	background: @light_gray;
	padding-bottom: 5.4rem;

	.b-title {
		&__description {
			margin-top: .3rem;
		}
	}
}

@media screen and (max-width: @laptop) {
	.b-category-list {
		.i-list-wrapper {
			width: 96%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-category-list {
		padding-bottom: 1rem;

		.i-list-wrapper {
			width: 90%;
		}

		.b-title {
			&__description {
				margin-top: 1.3rem;
			}
		}
	}
}