.b-bill-details__title {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: left;
	color: @gray;
	padding-bottom: 1.5rem;
	white-space: nowrap;
	vertical-align: top;
}

@media screen and (max-width: @laptop) {
	.b-bill-details__title {
		font-size: 1rem;
	}
}

@media screen and (max-width: 767px) {
	.b-bill-details__title {
		&:last-child {
			text-align: right;
		}
	}
}