.b-offer-all__title {
	display: inline-block;
	vertical-align: top;
	font-size: 2.6rem;
	font-weight: 600;
	color: @black;
	text-decoration: none;
	padding-right: 2.5rem;
	margin: 0;
	background: url('../images/offers-page/arrow_circle.svg') no-repeat right .75rem transparent;
}


@media screen and (max-width: 767px) {
	.b-offer-all__title {
		background: none;
		font-size: 2.2rem;
	}
}

@media screen and (max-width: 567px) {
	.b-offer-all__title {
		font-size: 1.6rem;
	}

}