.b-detail-page__link-to-web-page {
	font-weight: 600;
	font-size: 1.4rem;
	color: #4d4d4d;
	text-decoration: none;
	transition: color @shortTransition;
	display: none;
}

.no-touch {
	.b-detail-page__link-to-web-page {
		&:hover {
			color: @green;
		}
	}
}
