.b-pay-history__header {
	background: #1a1a1a;
	overflow: hidden;
	padding-top: 7.5rem;
	padding-bottom: 8.5rem;
}

@media screen and (max-width: 567px) {
	.b-pay-history__header {
		padding-top: 2.5rem;
		padding-bottom: 1rem;
	}
}