.b-offer-all__description {
	position: relative;
	font-size: 1.2rem;
	color: @gray;
	font-weight: 500;
	margin: 2rem 0;
	line-height: 1.5;
}

@media screen and (max-width: 567px) {
	.b-offer-all__description {
		margin: .5rem 0;
		line-height: 1.2;
		overflow: hidden;
		height: 3rem;
	}
}