.b-detail-page__recommendation {
	padding: 3rem 0;
	overflow: hidden;

	.i-column {
		&._left {
			width: 62%;
		}
		&._right {
			width: 28rem;
			float: right;
		}
	}
	&:after {
		content: '';
		display: block;
		width: 1005;
		clear: both;
	}
}

@media screen and (max-width: @laptop) {
	.b-detail-page__recommendation {
		.i-column {
			&._left {
				width: 100%;
			}
			&._right {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__recommendation {
		padding-top: 0;
	}
}
