.b-pay-report__filter-form {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2rem;

	.i-column {
		&:first-of-type {
			.b-pay-report__filter-text {
				margin-left: 0;
			}
		}
	}
}

@media screen and (max-width: 1180px) {
	.b-pay-report__filter-form {
		.i-column {
			margin-right: 1.4rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-pay-report__filter-form {
		margin-right: 0;
		width: 100%;
		.i-column {
			&:first-of-type {
				margin-bottom: 2rem;
			}


			width: 50%;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-pay-report__filter-form {
		.i-column {
			&:first-of-type {
				margin-bottom: 1rem;
			}

		}
	}
}