.b-offer-services {
	font-size: 1rem;

	&._left-column {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	&._right-column {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
}
