.b-pay-achieve__money {
	font-size: 2.1rem;
	color: @white;
	font-weight: 600;
	white-space: nowrap;
}

@media screen and (max-width: @laptop) {
	.b-pay-achieve__money {
		font-size: 1.8rem;
		padding-top: .5rem;
	}
}