.b-btn_type_gray {
	position: relative;
	border-color: @text_ultra-light__gray;
	background: @text_ultra-light__gray;
	color: @white;
	transition: border-color @shortTransition, background @shortTransition;
}
.no-touch {
	.b-btn_type_gray {
		&:hover {
			border-color: @green;
			background: @green;
		}
	}
}