.b-accordeon__header {
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid @borderColor;
	padding: 4rem 0;
	user-select: none;

	&._is-active {
		.b-accordeon__arrow {
			transform: translate(0, -50%) rotate(180deg);
		}
	}
}


@media screen and (max-width: 567px) {
	.b-accordeon__header {
		padding: 3.2rem 0;
	}
}