.b-counter_size_big {
	width: 2.8rem;
	height: 2.8rem;
	font-size: 1.4rem;
	right: -1.8rem;
	top: -.5rem;
}

@media screen and (max-width: 767px) {
	.b-counter_size_big {
		width: 2.2rem;
		height: 2.2rem;
		font-size: 1.2rem;
		right: -1.3rem;
		top: -.7rem;
	}
}