.b-offer-service {

}

@media screen and (max-width: @laptop) {
	.b-offer-service {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding-right: 1rem;
	}
}

@media screen and (max-width: 567px) {
	.b-offer-service {
		display: block;
		width: 100%;
	}
}