.b-detail-page__main-info {
	height: 36rem;

	.i-outer-wrapper {
		height: 100%;
	}
}

@media screen and (max-width: 900px) {
	.b-detail-page__main-info {
		height: auto;
	}
}

@media screen and (max-width: 567px) {
	.b-detail-page__main-info {
		.b-phone {
			display: none;
		}
		.b-schedule {
			margin-top: .3rem;
			margin-bottom: 1rem;
		}
	}
}