.b-offer-all__preview {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 33%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 1rem;
	text-align: right;
}

@media screen and (max-width: 767px) {
	.b-offer-all__preview {
		position: relative;
		width: 100%;
		height: 20rem;
	}
}

@media screen and (max-width: 567px) {
	.b-offer-all__preview {
		height: 10rem;
	}
}