.b-logo {
	display: inline-block;
	vertical-align: top;
	height: 5rem;
	line-height: 5rem;
	margin-left: 2.6%;
}

@media screen and (max-width: 567px) {
	.b-logo {
		height: 4rem;
		line-height: 4rem;
		margin-left: 1.4rem;
	}
}