.b-bill-details__operation-name {
	font-size: 1.4rem;
	font-weight: 600;
	color: @title_gray;
	padding-right: 2rem !important;
}

@media screen and (max-width: @laptop) {
	.b-bill-details__operation-name {
		margin-top: .5rem;
	}
}

@media screen and (max-width: 767px) {
	.b-bill-details__operation-name {
		font-size: 1.2rem;
	}
}