.b-category-list__item {
	padding: 0;
	border-bottom: 1px solid @borderColor;

	&:last-of-type {
		border-bottom: none;
	}

	&__link {
		display: block;
		text-decoration: none;
		padding: 12% 4%;
		position: relative;
	}
}

